{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% if backLink %}
  <div class="govuk-width-container">
    {{ govukBackLink({
      text: "Back",
      href: backLink
    }) }}
  </div>
{% endif %}
