{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% if backLink %}
  <nav aria-label="{{ t('common:back') }}" class="govuk-width-container">
    {{ govukBackLink({
      text: t('common:back'),
      href: backLink
    }) }}
  </nav>
{% endif %}
