{%- from "govuk/components/footer/macro.njk" import govukFooter -%}

{% block footerStart %}
  {% if correctPasswordAndNotExpired %}
    {% include "partials/quick-exit.njk" %}
  {% endif %}
  {% include "partials/is-this-page-useful-feedback.njk" %}
{% endblock %}

<nav aria-label="Service links">
  {% block govukFooter %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "/privacy-notice",
            text: t('common:footer.privacy')
          },
          {
            href: "/cookies",
            text: t('common:footer.cookies')
          },
          {
            href: "/about-the-service",
            text: t('common:footer.research')
          }
        ]
      }
    }) }}
  {% endblock %}
</nav>
