{%- from "govuk/components/footer/macro.njk" import govukFooter -%}

{% if correctPasswordAndNotExpired %}
  {% include "partials/quick-exit.njk" %}
{% endif %}

{% include "partials/is-this-page-useful-feedback.njk" %}

{{ govukFooter({
  rebrand: true,
  meta: {
    items: [
      {
        href: "/privacy-notice",
        text: "Privacy"
      },
      {
        href: "/cookies",
        text: "Cookies"
      },
      {
        href: "/about-the-service",
        text: "Take part in research"
      }
    ]
  }
}) }}
