{%- from "govuk/components/footer/macro.njk" import govukFooter -%}

{% if authenticated %}
  {% include "partials/quick-exit.njk" %}
{% endif %}

{{ govukFooter({
  rebrand: true,
  meta: {
    items: [
      {
        href: "/cookies",
        text: "Cookies"
      }
    ]
  }
}) }}
