{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

<nav aria-label="Phase banner">
  {% block phaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: t('common:phase.tag')
      },
      html: t('common:phase.text') + ' <a href="' + t('common:routes.aboutService') + '" class="govuk-link" id="about-the-service">' + t('common:phase.linkText') + '</a>.'
    }) }}
  {% endblock %}
</nav>
