{%- from "govuk/components/header/macro.njk" import govukHeader -%}

{{ govukHeader({
  homepageUrl: "/"
}) }}

{# TODO: Check what components we can use from 5.9.0 #}
{# 
,
  navigation: {
    label: "Account navigation",
    items: [
      {
        text: "Cymraeg",
        href: "#"
      },
      {
        text: "|",
        isDisabled: true
      },
      {
        text: "Sign out",
        href: "/sign-out"
      }
    ]
  }
 #}