{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "PROTOTYPE"
  },
  html: 'This is a prototype used for research. It is not a real service. You should only continue if you have been invited to test this prototype.'
}) }}
