{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% macro emsServiceInformation() %}

  {{ govukWarningText({
    text: "This service gives you access to all order data that was held by Capita and G4S.",
    iconFallbackText: "Warning",
    classes: "service-information"
  }) }}

{% endmacro %}