$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 960px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";

@import "./components/action-card";
@import './components/header-bar';
@import './components/promo-panel';
@import './overrides/local';
