{% extends "govuk/template.njk" %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet" />
  <meta name="google-site-verification" content="ThvYU2V6sfjD-kyyj2zaZ8lZUxn-8qnsoiQCaFZHccQ" />
{% endblock %}

{% block pageTitle %}
  {{ (applicationName + " - " + pageTitle) | default(applicationName) }}
{% endblock %}

{% block skipLink %}
  {{ super() }}
  {% if not cookieAccepted %}
    {% include "partials/cookie-banner.njk" %}
  {% endif %}
{% endblock %}

{% block bodyStart %}
  {% include "partials/google-tag-manager-noscript.njk" %}
{% endblock %}

{% block header %}
  {% block headerStart %}{% endblock %}

  {% block govukHeader %}
    {% include "partials/header.njk" %}
  {% endblock %}

  {% block govukServiceNavigation %}{% endblock %}

  {% block headerEnd %}
    {% include "partials/govuk-phase-banner.njk" %}
    {% include "partials/back-link.njk" %}
  {% endblock %}
{% endblock %}

{% block content %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}" nonce="{{ cspNonce }}"></script>
{% endblock %}

{% block footer %}
  {% include "partials/footer.njk" %}
{% endblock %}
