{% macro supportBox(linkHref="/contact") %}
<div class="govuk-!-margin-top-6">
  <h2 class="govuk-heading-m">Need help?</h2>
  <p class="govuk-body">
    If you've got a question about the Track your case service,
    <a class="govuk-link" href="{{ linkHref }}">contact the team</a>.
  </p>
</div>
{% endmacro %}
