{% extends "layout/citizen-authenticated.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errorList
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">Is this the case you are looking for?</h1>

  <div class="govuk-!-static-margin-bottom-8">
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Unique Reference Number (URN)"
          },
          value: {
            text: selectedUrn
          }
        },
        {
          key: {
            text: "Defendant"
          },
          value: {
            text: "First Name Last Name"
          }
        }
      ]
    }) }}
  </div>

  <form method="post" action="/case/confirm-case">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "caseConfirmed",
      items: radioItems,
      errorMessage: errorList and (errorList | selectattr("href", "equalto", "#caseConfirmed") | first)
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>

{% endblock %}
