{% extends "layout/citizen-authenticated.njk" %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Court information</h2>

      <p class="govuk-body">
        There is no court information because the next hearing has not been set.
      </p>
      <p class="govuk-body">
        You can contact the police officer in charge of your case or the police witness care unit for any updates.
      </p>
      <p class="govuk-body">
        You can also <a class="govuk-link" href="https://www.gov.uk/find-court-tribunal" target="_blank">search all courts (opens in new tab)</a>.
      </p>
    </div>
  </div>

{% endblock %}
