{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Case could not be found</h2>

      <p class="govuk-body">There was a problem retrieving information from the court system. Try again later.</p>
      <p class="govuk-body">In the meantime, you can contact the Police Officer in Charge or Witness Care Unit for updates to your case. They will contact you if there is anything you must know about.</p>
      <p class="govuk-body">If you need information about a court, use the <a class="govuk-link" href="https://www.gov.uk/find-court-tribunal" target="_blank">Find a court or tribunal service (opens in new tab)</a>. This has specific guidance for the court including the address, facilities, and accessibility information.</p>
    </div>
  </div>

{% endblock %}
