{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Case could not be found</h1>

      <p class="govuk-body"><strong>Unique reference number (URN):</strong> {{ selectedUrn }}</p>
      <p class="govuk-body">Check you are using the correct unique reference number (URN) or contact your police witness care unit or police officer in charge.</p>
      <p class="govuk-body">If you need information about a court, use the <a class="govuk-link" href="https://www.find-court-tribunal.service.gov.uk" target="_blank">Find a Court or Tribunal service (opens in new tab)</a>.</p>
    </div>
  </div>

{% endblock %}
