{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l" title="{{ message }}">{{ t('court-info-inactive:heading') }}</h1>

      <p class="govuk-body">{{ t('court-info-inactive:para1') }}</p>
      <p class="govuk-body">{{ t('court-info-inactive:para2') }} <a href="{{ t('common:urls.policeForce') }}" class="govuk-link" target="_blank">{{ t('court-info-inactive:findPoliceLink') }}</a>.</p>
    </div>
  </div>

{% endblock %}
