{% extends "layout/citizen-authenticated.njk" %}

{% set pageTitle = applicationName + " - Court information" %}
{% set mainClasses = "app-container govuk-body" %}

{# TODO: Citizen authentication layout needs breaccrumbs #}
{# TODO: Check flow with James #}
{% block content %}
  <h1 class="govuk-heading-l">Your court information</h1>
  <p class="govuk-body">This page gives you important details about your court dates, the court location, and what you need to do as a victim attending court.</p>
  
{% endblock %}
