{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">Hearing date has not been set</h2>

      <p class="govuk-body">
        There is no court information because the next hearing has not been set.
      </p>
      <p class="govuk-body">
        Your police witness care unit or the police officer in charge of your case will tell you if there are any updates.
      </p>
      <p class="govuk-body">
        Find their contact details on any letter they have sent you, or <a class="govuk-link" href="https://www.police.uk/pu/find-a-police-force/" target="_blank">find your local police force (opens in new tab)</a>.
      </p>
    </div>
  </div>

{% endblock %}
