{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">You are not authorized to access</h2>

      <p class="govuk-body">
        If you need an update on your case, you can contact your police witness care officer or police officer in charge.
      </p>
      <p class="govuk-body">
        If you need information about a court, use the <a class="govuk-link" href="https://www.gov.uk/find-court-tribunal" target="_blank">Find a court or tribunal service (opens in new tab)</a>.
      </p>
    </div>
  </div>

{% endblock %}
