
<h2 class="govuk-heading-m">If you're going to court</h2>
<p class="govuk-body">You usually only need to go to a court hearing or trial if you are giving evidence as a witness. Your police witness care unit (WCU) or officer in charge of the investigation (OIC) will tell you.</p>
<p class="govuk-body">If you're going to court to give evidence, find out:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.gov.uk/going-to-court-victim-witness" class="govuk-link" target="_blank">how to prepare (opens in new tab)</a></li>
  <li><a href="https://www.gov.uk/guidance/what-to-expect-coming-to-a-court-or-tribunal" class="govuk-link" target="_blank">what to expect, including what to bring and what to wear (opens in new tab)</a></li>
</ul>

<h2 class="govuk-heading-m">Get support through the court process</h2>
<p class="govuk-body">If you are going to court to give evidence, Victim Support can help you prepare, and support you throughout the trial.</p>
<p class="govuk-body">Contact <a href="https://www.victimsupport.org.uk/" class="govuk-link" target="_blank">Victim Support (opens in new tab)</a>.</p>

<h2 class="govuk-heading-m">Who you can contact</h2>
<p class="govuk-body">If you have any questions, you can contact your police:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>witness care unit (WCU)</li>
  <li>officer in charge of the investigation (OIC)</li>
</ul>
<p class="govuk-body">Find their contact details on any letter they have sent you, or <a href="https://www.police.uk/pu/find-a-police-force/" class="govuk-link" target="_blank">find your local police force (opens in new tab)</a>.</p>
