{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l" title="{{ message }}">Case could not be found</h1>

      <p class="govuk-body"><strong>Unique reference number (URN):</strong> {{ selectedUrn }}</p>
      <p class="govuk-body">Check you are using the correct unique reference number (URN). You can find it on any letter or email from the police or Crown Prosecution Service.</p>
      <p class="govuk-body">If you cannot find your URN, ask your police witness care officer. You can also <a class="govuk-link" href="https://www.find-court-tribunal.service.gov.uk" target="_blank">search all courts (opens in new tab)</a>.</p>
      <a href="/case/search" role="button" id="search-again-button" class="govuk-button govuk-button--primary" draggable="false" data-module="govuk-button">Search again</a>
    </div>
  </div>

{% endblock %}
