{% extends "layout/citizen-authenticated.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if error %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
          <div class="govuk-error-summary__body">
            {{ error }}
          </div>
        </div>
      {% endif %}

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2" title="{{ selectedUrn }}">Court information</h1>

    {% if hearingData %}

      {% if displayHearing %}
        {{ govukInsetText({
          html: "<strong>" + (hearingData.hearingStartDateMessage.title) + "</strong>" +
          '<p class="govuk-hint govuk-!-margin-top-2">' + hearingData.hearingStartDateMessage.description + '</p>'
        }) }}
      {% endif %}

      {% set rows = [{
        key: { text: "Unique reference number (URN)" },
        value: { text: selectedUrn}
      }] %}

      {% if displayHearing %}
        {% set rows = rows.concat([
          {
            key: { text: "Hearing type" },
            value: { html: hearingData.hearingType +
              '<p class="govuk-hint govuk-!-margin-top-3">This service will only show trial or sentencing hearings.</p>'
            }
          },
          {
            key: { text: "Expected start date" },
            value: { html: hearingData.sittingStart }
          },
          {
            key: { text: "Expected to last" },
            value: { html: '<span title="' + hearingData.sittingPeriodTooltip + '">' + hearingData.sittingPeriod + '</span>' }
          }
        ]) %}
      {% endif %}

      {% set rows = rows.concat([
        {
          key: { text: "Court name" },
          value: {
            html: hearingData.location.courtHouseName ~
            '<p class="govuk-hint govuk-!-margin-top-3">The court location can change. Your police witness care unit or officer in charge of the investigation will update you.</p>'
          }
        },
        {
          key: { text: "Court address" },
          value: {
            html: hearingData.location.addressLines | join(', ') ~
            ", " ~ hearingData.location.postcode ~ ", " ~ hearingData.location.country
          }
        },
        {
          key: { text: "Court information" },
          value: {
            html: '<a href="' + courtUrl + '" target="_blank">Information including directions, parking, and access (opens in new tab)</a>'
          }
        }
      ]) %}

      <div class="govuk-!-margin-bottom-6">
        {{ govukSummaryList({
          rows: rows
        }) }}
      </div>

      <p class="govuk-body">
        <a href="https://www.find-court-tribunal.service.gov.uk" target="_blank">Find information about other courts (opens in new tab)</a>
      </p>

      <h2 class="govuk-heading-m">If you're going to court</h2>
      <p class="govuk-body">You usually only need to go to a court hearing or trial if you are giving evidence as a witness. Your police witness care unit (WCU) or officer in charge of the investigation (OIC) will tell you.</p>
      <p class="govuk-body">If you're going to court to give evidence, find out:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/going-to-court-victim-witness" class="govuk-link" target="_blank">how to prepare (opens in new tab)</a></li>
        <li><a href="https://www.gov.uk/guidance/what-to-expect-coming-to-a-court-or-tribunal" class="govuk-link" target="_blank">what to expect, including what to bring and what to wear (opens in new tab)</a></li>
      </ul>

      <h2 class="govuk-heading-m">Get support through the court process</h2>
      <p class="govuk-body">You can get free support from the Witness Service, provided by Citizens Advice volunteers. They can help you prepare if you need to go to court and support you throughout the day.</p>
      <p class="govuk-body">Find out more about the service or refer yourself straight away - <a href="https://www.citizensadvice.org.uk/law-and-courts/legal-system/going-to-court-as-a-witness1/get-help-and-support-being-a-witness/witness-referral/" class="govuk-link" target="_blank">contact the Witness Service through the Citizen’s Advice website (opens in new tab)</a>.</p>
      <p class="govuk-body">If you live in London, the service is provided by <a href="https://www.victimsupport.org.uk" class="govuk-link" target="_blank">Victim Support (opens in new tab)</a>.</p>

      <h2 class="govuk-heading-m">Who you can contact</h2>
      <p class="govuk-body">If you have any questions, you can contact your police:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>witness care unit (WCU)</li>
        <li>officer in charge of the investigation (OIC)</li>
      </ul>
      <p class="govuk-body">Find their contact details on any letter they have sent you, or <a href="https://www.police.uk/pu/find-a-police-force/" class="govuk-link" target="_blank">find your local police force (opens in new tab)</a>.</p>

    {% else %}
      <p>No court information for this case.</p>
    {% endif %}

    </div>
  </div>

{% endblock %}
