{% extends "layout/citizen-authenticated.njk" %}

{% from "components/action-card/macro.njk" import actionCard %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-static-margin-bottom-8">{{ applicationName }}</h1>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-third">
      {{ actionCard(
        t('dashboard:card1.title'),
        t('dashboard:card1.desc'),
        "/case/search",
        t('dashboard:card1.button')
      ) }}
    </div>
    <div class="govuk-grid-column-one-third">
      {{ actionCard(
        t('dashboard:card2.title'),
        t('dashboard:card2.desc'),
        "/case/victims-journey",
        t('dashboard:card2.button')
      ) }}
    </div>
    <div class="govuk-grid-column-one-third">
      {{ actionCard(
        t('dashboard:card3.title'),
        t('dashboard:card3.desc'),
        "/case/key-roles",
        t('dashboard:card3.button')
      ) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {{ actionCard(
        t('dashboard:card4.title'),
        t('dashboard:card4.desc'),
        "/case/victim-personal-statement",
        t('dashboard:card4.button')
      ) }}
    </div>
    <div class="govuk-grid-column-one-third">
      {{ actionCard(
        t('dashboard:card5.title'),
        t('dashboard:card5.desc'),
        "/case/victim-support-links",
        t('dashboard:card5.button')
      ) }}
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-summary-card highlight">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title text-white">{{ t('dashboard:helpNow.heading') }}</h2>
        </div>
        <div class="govuk-summary-card__content">
          <div class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <p class="govuk-body text-white">{{ t('dashboard:helpNow.police') }}</p>
              <p class="govuk-body">
                <span class="text-white">{{ t('dashboard:helpNow.samaritansPhone') }}</span><br>
                <span class="text-white">{{ t('dashboard:helpNow.website') }}</span><a href="{{ t('common:urls.samaritans') }}" class="govuk-link govuk-link--inverse" target="_blank">{{ t('dashboard:helpNow.samaritansWebsite') }}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
