{% extends "layout/citizen-authenticated.njk" %}

{% from "components/action-card/macro.njk" import actionCard %}
{% from "components/promo-panel/macro.njk" import promoPanel %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1 class="govuk-heading-l govuk-!-static-margin-bottom-8">Track My Case</h1>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-third">
      <div class="action-card-wrapper">
        {{ actionCard(
          "View court information",
          "See information about the court location.",
          "/case/search",
          "View court information",
          "default",
          0
        ) }}
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="action-card-wrapper">
        {{ actionCard(
          "Understand the process",
          "See information about stages of a criminal case, and staff victims interact with.",
          "/case/support-roles",
          "View information about the process"
        ) }}
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="action-card-wrapper">
        {{ actionCard(
          "Understand your rights",
          "See information about the victims’ code of practice, and your rights as a victim.",
          "/case/victims-code",
          "View information about your rights"
        ) }}
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ promoPanel(
        "Find help and support",
        "Access information for victim support charities and guidance if you are required to attend court as witness.",
        "/case/victim-support-links",
        "View support and guidance",
        "/assets/images/vsc2.jpg",
        "default"
      ) }}
    </div>
  </div>

  {% if allowDebug and user %}
    <h2 class="govuk-heading-m">User information</h2>
    <pre><code>{{ user | dump(2) }}</code></pre>
  {% endif %}

{% endblock %}
