{% extends "layout/citizen-authenticated.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errorList
    }) }}
  {% endif %}

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">

      <form id="searchCaseReferenceNumber" name="searchCaseReferenceNumber" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {% if upcomingMaintenance or ongoingMaintenance %}
          <div class="govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title"
               data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
              </h2>
            </div>

            <div class="govuk-notification-banner__content">
              {% if upcomingMaintenance %}
                <h3 class="govuk-notification-banner__heading">
                  Upcoming maintenance
                </h3>
                <p class="govuk-body">Find your court will be unavailable between 6pm Saturday and 1pm Sunday.</p>
              {% endif %}
              {% if ongoingMaintenance %}
                <h3 class="govuk-notification-banner__heading">
                  Ongoing maintenance
                </h3>
                <p class="govuk-body">The service might not be available between 6pm Saturday and 1pm Sunday.</p>
              {% endif %}
            </div>
          </div>
        {% endif %}

        <h1 class="govuk-heading-l">Find your court</h1>

        <p class="govuk-body">To find the court where the next hearing or trial for your case is, you need your
          unique reference number (URN). You can find it on any letter or email from the police or Crown
          Prosecution Service.</p>

        <div class="govuk-form-group">
          {{ govukInput({
            label: {
              text: "Enter your unique reference number",
              classes: "govuk-label govuk-label--m",
              isPageHeading: true
            },
            hint: {
              text: "This is usually 11 digits with a mixture of letters and numbers. For example, 12QQ3456789"
            },
            classes: "govuk-input--width-30",
            id: "selectedUrn",
            name: "selectedUrn",
            pattern: "^[A-Za-z0-9]{1,11}$",
            spellcheck: false,
            errorMessage: errorList and (errorList | selectattr("href", "equalto", "#selectedUrn") | first),
            value: '20NX1225991'
          }) }}
        </div>
        {#  DEV    - CIKXXNEF7R 20NX1225991  20NX8759814 20NX5683653 #}
        {# TEST    - CTYMOFZFWW , CMFZDOF3GA #}
        {# PREPROD - CESKRAACO6              #}
        {# PROD    - 53BH0089524 , 01ZD1675024 , 01ZD1228525  #}
        {# MOCK    - TMCTRN1D5              #}
        {{ govukButton({
          text: "Find court"
        }) }}

        <p class="govuk-body">If you cannot find your unique reference number, ask your police witness care officer.
          You can also <a href="https://www.find-court-tribunal.service.gov.uk/" class="govuk-link"
                          target="_blank">search all courts (opens in new tab)</a>.</p>

        <p class="govuk-body">
          This service is not available from 6pm Saturday to 1pm Sunday each week for regular maintenance.
        </p>
      </form>

    </div>
  </div>

{% endblock %}
