{% extends "layout/citizen-authenticated.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: t('search:errorSummary.titleText'),
      errorList: errorList
    }) }}
  {% endif %}

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">

      <form id="searchCaseReferenceNumber" name="searchCaseReferenceNumber" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {% if upcomingMaintenance or ongoingMaintenance %}
          <div class="govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title"
               data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                {{ t('search:banner.important') }}
              </h2>
            </div>

            <div class="govuk-notification-banner__content">
              {% if upcomingMaintenance %}
                <h3 class="govuk-notification-banner__heading">
                  {{ t('search:banner.upcomingHeading') }}
                </h3>
                <p class="govuk-body">{{ t('search:banner.upcomingText') }}</p>
              {% endif %}
              {% if ongoingMaintenance %}
                <h3 class="govuk-notification-banner__heading">
                  {{ t('search:banner.ongoingHeading') }}
                </h3>
                <p class="govuk-body">{{ t('search:banner.ongoingText') }}</p>
              {% endif %}
            </div>
          </div>
        {% endif %}

        <h1 class="govuk-heading-l">{{ t('search:heading') }}</h1>

        <p class="govuk-body">{{ t('search:intro') }}</p>

        <div class="govuk-form-group">
          {{ govukInput({
            label: {
              text: t('search:input.label'),
              classes: "govuk-label govuk-label--m"
            },
            hint: {
              text: t('search:input.hint')
            },
            classes: "govuk-input--width-30",
            id: "selectedUrn",
            name: "selectedUrn",
            pattern: "^[A-Za-z0-9]{1,11}$",
            spellcheck: false,
            errorMessage: errorList and (errorList | selectattr("href", "equalto", "#selectedUrn") | first),
            value: selectedUrn
          }) }}
        </div>

        {{ govukButton({
          text: t('search:button')
        }) }}

        <p class="govuk-body">{{ t('search:noUrnText') }}
          <a href="{{ t('common:urls.findCourtTribunal') }}" class="govuk-link"
                          target="_blank">{{ t('search:noUrnLinkText') }}</a>.</p>

        <p class="govuk-body">
          {{ t('search:maintenanceNotice') }}
        </p>
      </form>

    </div>
  </div>

{% endblock %}
