{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ t('key-roles:heading') }}</h1>
      <p class="govuk-body-l">{{ t('key-roles:subheading') }}</p>
      <p class="govuk-body">{{ t('key-roles:intro1') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('key-roles:introList1', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
      <p class="govuk-body">{{ t('key-roles:intro2') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('key-roles:introList2', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>

      <h2 class="govuk-heading-m">{{ t('key-roles:experienced.heading') }}</h2>
      <p class="govuk-body">{{ t('key-roles:experienced.para1') }}</p>
      <p class="govuk-body">{{ t('key-roles:experienced.para2') }}</p>

      <h2 class="govuk-heading-m">{{ t('key-roles:accused.heading') }}</h2>

      <h3 class="govuk-heading-s">{{ t('key-roles:accused.suspect.heading') }}</h3>
      <p class="govuk-body">{{ t('key-roles:accused.suspect.para1') }}</p>

      <h3 class="govuk-heading-s">{{ t('key-roles:accused.defendant.heading') }}</h3>
      <p class="govuk-body">{{ t('key-roles:accused.defendant.para1') }}</p>

      <h3 class="govuk-heading-s">{{ t('key-roles:accused.convicted.heading') }}</h3>
      <p class="govuk-body">{{ t('key-roles:accused.convicted.para1') }}</p>

      <h2 class="govuk-heading-m">{{ t('key-roles:policeStation.heading') }}</h2>

      <h3 class="govuk-heading-s">{{ t('key-roles:policeStation.policeOfficer.heading') }}</h3>
      <p class="govuk-body">{{ t('key-roles:policeStation.policeOfficer.para1') }}</p>

      <h3 class="govuk-heading-s">{{ t('key-roles:policeStation.officerInCharge.heading') }}</h3>
      <p class="govuk-body">{{ t('key-roles:policeStation.officerInCharge.para1') }}</p>

      <h3 class="govuk-heading-s">{{ t('key-roles:policeStation.witnessCareOfficer.heading') }}</h3>
      <p class="govuk-body">{{ t('key-roles:policeStation.witnessCareOfficer.para1') }}</p>
      <p class="govuk-body">{{ t('key-roles:policeStation.witnessCareOfficer.para2') }}</p>
      <p class="govuk-body">{{ t('key-roles:policeStation.witnessCareOfficer.para3') }}</p>

      <h2 class="govuk-heading-m">{{ t('key-roles:atCourt.heading') }}</h2>

      <h3 class="govuk-heading-s">{{ t('key-roles:atCourt.courtClerk.heading') }}</h3>
      <p class="govuk-body">{{ t('key-roles:atCourt.courtClerk.para1') }}</p>
      <p class="govuk-body">{{ t('key-roles:atCourt.courtClerk.para2') }}</p>
      <p class="govuk-body">{{ t('key-roles:atCourt.courtClerk.para3') }}</p>

      <h3 class="govuk-heading-s">{{ t('key-roles:atCourt.courtUsher.heading') }}</h3>
      <p class="govuk-body">{{ t('key-roles:atCourt.courtUsher.para1') }}</p>
      <p class="govuk-body">{{ t('key-roles:atCourt.courtUsher.para2') }}</p>

      <h3 class="govuk-heading-s">{{ t('key-roles:atCourt.cpsParalegal.heading') }}</h3>
      <p class="govuk-body">{{ t('key-roles:atCourt.cpsParalegal.para1') }}</p>
      <p class="govuk-body">{{ t('key-roles:atCourt.cpsParalegal.para2') }}</p>
      <p class="govuk-body">{{ t('key-roles:atCourt.cpsParalegal.para3') }}</p>

      <h3 class="govuk-heading-s">{{ t('key-roles:atCourt.cpsProsecutor.heading') }}</h3>
      <p class="govuk-body">{{ t('key-roles:atCourt.cpsProsecutor.para1') }}</p>
      <p class="govuk-body">{{ t('key-roles:atCourt.cpsProsecutor.para2') }}</p>

      <h3 class="govuk-heading-s">{{ t('key-roles:atCourt.prosecutor.heading') }}</h3>
      <p class="govuk-body">{{ t('key-roles:atCourt.prosecutor.para1') }}</p>

      <h3 class="govuk-heading-s">{{ t('key-roles:atCourt.witnessService.heading') }}</h3>
      <p class="govuk-body">{{ t('key-roles:atCourt.witnessService.para1') }} <a href="{{ t('common:urls.witnessService') }}" class="govuk-link" target="_blank">{{ t('key-roles:atCourt.witnessService.linkText') }}</a>.</p>

      <h2 class="govuk-heading-m">{{ t('key-roles:afterConviction.heading') }}</h2>

      <h3 class="govuk-heading-s">{{ t('key-roles:afterConviction.probationOfficer.heading') }}</h3>
      <p class="govuk-body">{{ t('key-roles:afterConviction.probationOfficer.para1') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('key-roles:afterConviction.probationOfficer.list', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
      <p class="govuk-body">{{ t('key-roles:afterConviction.probationOfficer.para2') }}</p>

      <h2 class="govuk-heading-m">{{ t('key-roles:throughoutProcess.heading') }}</h2>

      <h3 class="govuk-heading-s">{{ t('key-roles:throughoutProcess.victimCaseworker.heading') }}</h3>
      <p class="govuk-body">{{ t('key-roles:throughoutProcess.victimCaseworker.para1') }}</p>
      <p class="govuk-body">{{ t('key-roles:throughoutProcess.victimCaseworker.para2') }}</p>
      <p class="govuk-body">{{ t('key-roles:throughoutProcess.victimCaseworker.para3') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('key-roles:throughoutProcess.victimCaseworker.list', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
