{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Who's who in the criminal justice system</h1>
      <p class="govuk-body-l">This guidance applies to the criminal justice system in England and Wales.</p>
      <p class="govuk-body">When a case goes to court, the people you’re likely to have most contact with are your local police force’s:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>police witness care officer (WCO)</li>
        <li>police officer in charge (OIC)</li>
      </ul>
      <p class="govuk-body">If you’re going to court to give evidence, you will meet and be supported by the:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>volunteer from the Witness Service (or Victim Support in London), if you have referred yourself to them</li>
        <li>court usher</li>
        <li>Crown Prosecution Service paralegal</li>
      </ul>

      <h2 class="govuk-heading-m">The victim or witness</h2>
      <p class="govuk-body">When you experience a crime, you’re often referred to as a ‘victim’.</p>
      <p class="govuk-body">You will usually be a main witness in the case. You may be asked to go to  the trial as a witness. Witnesses are people who tell the court what  they know about the crime – ‘give evidence’.</p>

      <h2 class="govuk-heading-m">The person who is accused or convicted of a crime</h2>

      <h3 class="govuk-heading-s">Suspect</h3>
      <p class="govuk-body">A person who is accused of a crime and being investigated by the police is called a suspect.</p>

      <h3 class="govuk-heading-s">Defendant</h3>
      <p class="govuk-body">When a case reaches court and until they are convicted, a person accused of a crime is referred to as a defendant.</p>

      <h3 class="govuk-heading-s">Person convicted of a crime, person in prison or person on probation</h3>
      <p class="govuk-body">When a person is found guilty and convicted of a crime, they are sentenced at court. They may be given a prison sentence or put on probation.</p>

      <h2 class="govuk-heading-m">At the police station</h2>

      <h3 class="govuk-heading-s">Police officer</h3>
      <p class="govuk-body">Police officers investigate crimes, make arrests, and look after public safety.</p>

      <h3 class="govuk-heading-s">Police officer in charge</h3>
      <p class="govuk-body">A police officer in charge (OIC) is responsible for your case. This is who you can contact if you have any questions about your case.</p>

      <h3 class="govuk-heading-s">Police witness care officer</h3>
      <p class="govuk-body">You are normally assigned a police witness care officer, although you might hear from other members of the police witness care unit.</p>
      <p class="govuk-body">They keep you updated about the progress of the case, from when somebody is charged with a crime, through to the court outcome.</p>
      <p class="govuk-body">A police witness care officer is an administration role, and they do not have the same authority as a police officer.</p>

      <h2 class="govuk-heading-m">At court</h2>

      <h3 class="govuk-heading-s">Court clerk</h3>
      <p class="govuk-body">The court clerk sits at the front of the court and prepares the laptops/screens that are used to present evidence during the trial.</p>
      <p class="govuk-body">They read the formal charges to the court and take oaths from members of the jury. They also make notes during the trial. The court clerk wears a black gown.</p>

      <h3 class="govuk-heading-s">Court usher</h3>
      <p class="govuk-body">The usher is who to look for if you go to court – they will help you and tell you where you need to go. They are usually dressed in a black gown.</p>
      <p class="govuk-body">The usher prepares the courtroom and makes sure the witnesses, defendants and lawyers are all there ready for the hearing.</p>

      <h3 class="govuk-heading-s">Crown Prosecution Service paralegal officer</h3>
      <p class="govuk-body">The Crown Prosecution Service (CPS) paralegal officer works on supporting and preparing court casework, from the start of the case to the end of the trial. They  attend court to help run proceedings, manage and serve evidence, and  draft legal applications.</p>
      <p class="govuk-body">They work together with the Crown Prosecution Service prosecutor.</p>

      <h3 class="govuk-heading-s">Crown Prosecution Service prosecutor</h3>
      <p class="govuk-body">The Crown Prosecution Service (CPS) decides  whether to bring criminal cases to court to ‘prosecute’ the person or  people who committed the crime.</p>
      <p class="govuk-body">Their representative is called the  prosecutor. They work together with the Crown Prosecution Service paralegal officer.</p>

      <h3 class="govuk-heading-s">Defence solicitor or barrister</h3>
      <p class="govuk-body">A solicitor or barrister works on behalf of (‘represents’) a defendant. They ‘defend’ them by standing up for the defendant in court and by making sure their legal rights are protected.</p>

      <h3 class="govuk-heading-s">Judge or magistrate</h3>
      <p class="govuk-body">A magistrate is in charge of a magistrates’ court hearing. A judge is in charge of a Crown Court trial. They:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>direct court proceedings</li>
        <li>make decisions based on the law</li>
        <li>make sure hearings and trials are carried out fairly</li>
      </ul>

      <h3 class="govuk-heading-s">Legal adviser</h3>
      <p class="govuk-body">A legal adviser is a lawyer who comes to magistrate court hearings to advise the magistrate, and guide what happens in the courtroom.</p>

      <h3 class="govuk-heading-s">Victim Support volunteer</h3>
      <p class="govuk-body">If you are going to court to give evidence, Victim Support can offer you a trained volunteer. They can help you prepare, and support you throughout the trial.</p>
      <p class="govuk-body"><a href="https://www.victimsupport.org.uk/" class="govuk-link" target="_blank">Contact Victim Support (opens in new tab)</a>.</p>

      <h3 class="govuk-heading-s">Witness Service volunteer</h3>
      <p class="govuk-body">You can get support from the Witness Service, provided free by Citizens Advice volunteers. Your Witness Service volunteer can help you prepare if you need to go to court and support you throughout the day.</p>
      <p class="govuk-body">Find out more about the service or refer yourself straight away – <a href="https://www.citizensadvice.org.uk/law-and-courts/legal-system/going-to-court-as-a-witness1/get-help-and-support-being-a-witness/witness-referral/" class="govuk-link" target="_blank">contact the Witness Service through the Citizen’s Advice website (opens in new tab)</a>.</p>

      <h2 class="govuk-heading-m">After someone is convicted of a crime</h2>

      <h3 class="govuk-heading-s">Probation officer</h3>
      <p class="govuk-body">When a person is convicted of a crime, they might be given a ‘non-custodial sentence’. This is often known as ‘on licence’ or ‘on probation’ and is a period of time where the person could:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>serve part of a prison sentence and be released, but must follow certain rules</li>
        <li>be given a ‘non-custodial’ sentence instead of prison, for example where they must wear an electronic tag, or do community service or unpaid work</li>
      </ul>
      <p class="govuk-body">Probation officers are in charge of people on probation. They help them return into society while making sure they keep to the rules of their sentence or release.</p>

      <h3 class="govuk-heading-s">Victim liaison officer (probation)</h3>
      <p class="govuk-body">You’re offered a victim liaison officer when you have been referred to the Victim Contact Scheme. This is when a person convicted of a crime you experienced is sentenced to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>more than 12 months’ prison term</li>
        <li>a hospital order for a violent or sexual crime</li>
      </ul>
      <p class="govuk-body">The victim liaison officer is specially trained and can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>keep in contact with you during the prison term or hospital order</li>
        <li>answer your questions</li>
        <li>give you information about how the justice system works</li>
      </ul>
      <p class="govuk-body"><a href="https://www.gov.uk/government/publications/get-support-as-a-victim-of-crime/information-about-the-victim-contact-scheme" class="govuk-link" target="_blank">Find out more about the Victim Contact Scheme (opens in new tab)</a>.</p>

      <h2 class="govuk-heading-m">Throughout the process</h2>

      <h3 class="govuk-heading-s">Victim caseworker, advocate or support worker</h3>
      <p class="govuk-body">There are organisations and charities who may be able offer you support at various stages through the criminal justice process. People who work for those organisations may be called a victim caseworker, advocate or support worker.</p>
      <p class="govuk-body">The support workers might be known as an IDVA, ISVA, or CHIDVA depending on the case.</p>
    </div>
  </div>
{% endblock %}
