{% extends "layout/citizen-authenticated.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "components/support-box/macro.njk" import supportBox %}

{% set pageTitle = applicationName + " - Choose case" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    {{ govukRadios({
        name: "choose-case",
        fieldset: {
            legend: {
            text: "Select the case you would like to view",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            text: "There may be other cases that are not yet linked to your details."
        },
        items: radioItems
        }) }}

    {{ govukButton({
        text: "Continue",
        href: "dashboard" }) }}

    {{ supportBox() }}

  {% if user.userinfo %}
    <h2 class="govuk-heading-m">User information</h2>
    <pre><code>{{ user.userinfo | dump(2) }}</code></pre>
  {% endif %}

{% endblock %}
