{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-8">Sorry, there is a problem with the service</h1>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">
        Try again later.
      </p>
      <p class="govuk-body">
        In the meantime, you can contact the Police  Officer in Charge or Witness Care Unit for updates to your case. They  will contact you if there is anything you must know about.
      </p>

    </div>
  </div>

{% endblock %}

