{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-8">Sorry, the court system is currently unavailable</h1>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">
        Try again later.
      </p>
      <p class="govuk-body">
        If you need an update on your case, you can contact your police witness care officer or police officer in charge.
      </p>
      <p class="govuk-body">
        If you need information about a court, use the <a class="govuk-link" href="https://www.gov.uk/find-court-tribunal" target="_blank">Find a court or tribunal service (opens in new tab)</a>.
      </p>

    </div>
  </div>

{% endblock %}

