{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-8">{{ t('service-error:heading') }}</h1>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">
        {{ t('service-error:para1') }}
      </p>
      <p class="govuk-body">
        {{ t('service-error:para2') }}
      </p>
      <p class="govuk-body">
        {{ t('service-error:para3') }} <a class="govuk-link" href="{{ t('common:urls.findCourtTribunal') }}" target="_blank">{{ t('service-error:findCourtLinkText') }}</a>.
      </p>

    </div>
  </div>

{% endblock %}
