{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-heading govuk-!-margin-bottom-8">
        <h1 class="gem-c-heading__text govuk-heading-xl">
          {{ t('special-measures:heading') }}
        </h1>
      </div>
      <aside class="part-navigation-container" role="complementary">
        <nav data-module="ga4-link-tracker" aria-label="Pages in this guide" class="gem-c-contents-list govuk-!-margin-bottom-4" data-ga4-link-tracker-module-started="true">
          <h2 class="gem-c-contents-list__title">
            {{ t('special-measures:contents.title') }}
          </h2>
          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/victim-personal-statement">{{ t('special-measures:contents.victimPersonalStatement') }}</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/claiming-expenses">{{ t('special-measures:contents.claimingExpenses') }}</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              {{ t('special-measures:contents.specialMeasures') }}
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/requesting-court-hearing-transcript">{{ t('special-measures:contents.requestingTranscript') }}</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/understand-compensation">{{ t('special-measures:contents.compensation') }}</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/return-property">{{ t('special-measures:contents.returnProperty') }}</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/victims-code">{{ t('special-measures:contents.victimsCode') }}</a>
            </li>
          </ol>
        </nav>
      </aside>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">{{ t('special-measures:section.main.heading') }}</h2>
      <p class="govuk-body">{{ t('special-measures:section.main.intro') }}</p>

      <h3 class="govuk-heading-m">{{ t('special-measures:section.whoMightGet.heading') }}</h3>
      <p class="govuk-body">{{ t('special-measures:section.whoMightGet.p1') }}</p>
      <p class="govuk-body">{{ t('special-measures:section.whoMightGet.p2') }}</p>
      <p class="govuk-body">{{ t('special-measures:section.whoMightGet.p3') }}</p>
      <p class="govuk-body">{{ t('special-measures:section.whoMightGet.p4') }}</p>

      <h3 class="govuk-heading-m">{{ t('special-measures:section.whatHelp.heading') }}</h3>
      <p class="govuk-body">{{ t('special-measures:section.whatHelp.p1') }}</p>
      <p class="govuk-body">{{ t('special-measures:section.whatHelp.p2') }}</p>
      <p class="govuk-body">{{ t('special-measures:section.whatHelp.p3') }}</p>
      <p class="govuk-body">{{ t('special-measures:section.whatHelp.p4') }}</p>
      <p class="govuk-body">{{ t('special-measures:section.whatHelp.p5') }}</p>

      <h3 class="govuk-heading-m">{{ t('special-measures:section.howToRequest.heading') }}</h3>
      <p class="govuk-body">{{ t('special-measures:section.howToRequest.p1') }}</p>
      <p class="govuk-body">{{ t('special-measures:section.howToRequest.p2') }}</p>
      <p class="govuk-body">{{ t('special-measures:section.howToRequest.p3') }}</p>
      <p class="govuk-body">{{ t('special-measures:section.howToRequest.p4') }}</p>

      <h3 class="govuk-heading-m">{{ t('special-measures:section.readMore.heading') }}</h3>
      <p class="govuk-body">
        {{ t('special-measures:section.readMore.textBefore') }}
        <a href="{{ t('common:urls.cpsSpecialMeasures') }}"
           class="govuk-link" target="_blank">{{ t('special-measures:section.readMore.linkText') }}</a>
      </p>

      <h3 class="govuk-heading-m">{{ t('special-measures:section.cantGet.heading') }}</h3>
      <p class="govuk-body">{{ t('special-measures:section.cantGet.textBefore') }}
         <a href="/case/witness-service" class="govuk-link">{{ t('special-measures:section.cantGet.linkText') }}</a>
         {{ t('special-measures:section.cantGet.textAfter') }}</p>

{% endblock %}
