{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1 class="govuk-heading-l">{{ t('support-guidance:heading') }}</h1>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="gov">{{ t('support-guidance:govuk.heading') }}</h2>
      <p class="govuk-body">{{ t('support-guidance:govuk.lead') }}</p>
      <ul class="govuk-list">
        {% for item in t('support-guidance:govuk.links', {returnObjects: true}) %}
          <li>
            <a href="{{ item.url }}" target="_blank" title="{{ item.text }}">{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>

      <h2 class="govuk-heading-m" id="charities">{{ t('support-guidance:charities.heading') }}</h2>
      <p class="govuk-body">{{ t('support-guidance:charities.lead') }}</p>
      <ul class="govuk-list">
        {% for item in t('support-guidance:charities.links', {returnObjects: true}) %}
          <li><a href="{{ item.url }}" target="_blank" title="{{ item.text }}">{{ item.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
