{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1 class="govuk-heading-l">Links to victim support information</h1>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" id="gov">GOV.UK links</h2>
      <p class="govuk-body">Here are some helpful resources from GOV.UK for victims of crime. These links provide information and support on various topics:</p>
      <ul class="govuk-list">
        <li>
          <a href="https://www.cps.gov.uk/information-and-support-victims-witnesses/easy-read" target="_blank">
            Easy Read Victims’ Guides (opens in a new tab)
          </a>
        </li>
        <li>
          <a href="https://www.gov.uk/guidance/support-for-victims-of-sexual-violence-and-abuse" target="_blank" title="Support for victims of sexual violence and abuse">
            Support for victims of sexual violence and abuse
          </a>
        </li>
        <li>
          <a href="https://www.gov.uk/guidance/victim-and-witness-services" target="_blank" title="Victim and witness services">
            Victim and witness services
          </a>
        </li>
        <li>
          <a href="https://www.gov.uk/browse/justice/compensation-victim-support" target="_blank" title="Compensation and victim support">
            Compensation and victim support
          </a>
        </li>
        <li>
          <a href="https://www.gov.uk/get-support-as-a-victim-of-crime" target="_blank" title="Get support as a victim of crime">
            Get support as a victim of crime
          </a>
        </li>
        <li>
          <a href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help" target="_blank" title="Domestic abuse: how to get help">
            Domestic abuse: how to get help
          </a>
        </li>
        <li>
          <a href="https://www.gov.uk/guidance/rape-and-sexual-assault-support" target="_blank" title="Rape and sexual assault support">
            Rape and sexual assault support
          </a>
        </li>
        <li>
          <a href="https://www.gov.uk/guidance/honour-based-abuse-and-forced-marriage" target="_blank" title="Honour-based abuse and forced marriage">
            Honour-based abuse and forced marriage
          </a>
        </li>
        <li>
          <a href="https://www.gov.uk/guidance/modern-slavery-how-to-get-help" target="_blank" title="Modern slavery: how to get help">
            Modern slavery: how to get help
          </a>
        </li>
      </ul>

      <h2 class="govuk-heading-m" id="charities">Charity Links</h2>
      <p class="govuk-body">
        Below are links to UK-based charities that offer support and assistance to victims of crime.
        These organizations provide a range of services to help you through difficult times:
      </p>
      <ul class="govuk-list">
        <li><a href="https://www.victimsupport.org.uk/" target="_blank" title="Victim Support">Victim Support</a></li>
        <li><a href="https://www.truehonour.org.uk/" target="_blank" title="True Honour">True Honour</a></li>
        <li><a href="https://karmanirvana.org.uk/" target="_blank" title="Karma Nirvana">Karma Nirvana</a></li>
        <li><a href="https://www.traumabreakthrough.org/" target="_blank" title="Trauma Breakthrough">Trauma Breakthrough</a></li>
        <li><a href="https://www.refuge.org.uk/" target="_blank" title="Refuge">Refuge</a></li>
        <li><a href="https://www.womensaid.org.uk/" target="_blank" title="Women's Aid">Women's Aid</a></li>
        <li><a href="https://rapecrisis.org.uk/" target="_blank" title="Rape Crisis England & Wales">Rape Crisis England & Wales</a></li>
        <li><a href="https://www.thesurvivorstrust.org/" target="_blank" title="The Survivors Trust">The Survivors Trust</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

  