{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-heading govuk-!-margin-bottom-8">
        <h1 class="gem-c-heading__text govuk-heading-xl">
          {{ t('understand-compensation:heading.main') }}
        </h1>
      </div>
      <aside class="part-navigation-container" role="complementary">
        <nav data-module="ga4-link-tracker" aria-label="{{ t('understand-compensation:contents.nav.ariaLabel') }}" class="gem-c-contents-list govuk-!-margin-bottom-4" data-ga4-link-tracker-module-started="true">
          <h2 class="gem-c-contents-list__title">
            {{ t('understand-compensation:contents.title') }}
          </h2>
          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="{{ t('common:routes.victimPersonalStatement') }}">{{ t('understand-compensation:contents.nav.victimPersonalStatement') }}</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="{{ t('common:routes.claimingExpenses') }}">{{ t('understand-compensation:contents.nav.claimingExpenses') }}</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="{{ t('common:routes.specialMeasures') }}">{{ t('understand-compensation:contents.nav.specialMeasures') }}</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="{{ t('common:routes.requestingTranscript') }}">{{ t('understand-compensation:contents.nav.requestingTranscript') }}</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              {{ t('understand-compensation:contents.nav.claimCompensation') }}
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="{{ t('common:routes.returnProperty') }}">{{ t('understand-compensation:contents.nav.returnProperty') }}</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="{{ t('common:routes.victimsCode') }}">{{ t('understand-compensation:contents.nav.victimsCode') }}</a>
            </li>
          </ol>
        </nav>
      </aside>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">{{ t('understand-compensation:section.whenYouCan.heading') }}</h2>
      <p class="govuk-body">{{ t('understand-compensation:section.whenYouCan.p1') }}</p>
      <p class="govuk-body">{{ t('understand-compensation:section.whenYouCan.p2') }}</p>
      <p class="govuk-body">{{ t('understand-compensation:section.whenYouCan.p3') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('understand-compensation:section.whenYouCan.list', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>

      <h2 class="govuk-heading-m">{{ t('understand-compensation:section.criminalOrders.heading') }}</h2>
      <p class="govuk-body">{{ t('understand-compensation:section.criminalOrders.p1') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('understand-compensation:section.criminalOrders.list1', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
      <p class="govuk-body">{{ t('understand-compensation:section.criminalOrders.p2') }}</p>
      <p class="govuk-body">{{ t('understand-compensation:section.criminalOrders.p3') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('understand-compensation:section.criminalOrders.list2', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>

      <h2 class="govuk-heading-m">{{ t('understand-compensation:section.criminalInjuries.heading') }}</h2>
      <p class="govuk-body">{{ t('understand-compensation:section.criminalInjuries.p1') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('understand-compensation:section.criminalInjuries.list', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
      <p class="govuk-body">{{ t('understand-compensation:section.criminalInjuries.p2') }}</p>
      <p class="govuk-body"><a href="https://www.gov.uk/claim-compensation-criminal-injury" class="govuk-link" target="_blank">{{ t('understand-compensation:section.criminalInjuries.linkText') }}</a>.</p>

      <h2 class="govuk-heading-m">{{ t('understand-compensation:section.civil.heading') }}</h2>
      <p class="govuk-body">{{ t('understand-compensation:section.civil.p1') }}</p>
      <p class="govuk-body">{{ t('understand-compensation:section.civil.p2') }}</p>
      <p class="govuk-body">{{ t('understand-compensation:section.civil.p3') }}</p>

      <h2 class="govuk-heading-m">{{ t('understand-compensation:section.benefits.heading') }}</h2>
      <p class="govuk-body">{{ t('understand-compensation:section.benefits.p1') }}</p>
      <p class="govuk-body">{{ t('understand-compensation:section.benefits.p2.before') }} <a href="https://www.gov.uk/browse/benefits/bereavement" class="govuk-link" target="_blank">{{ t('understand-compensation:section.benefits.p2.linkText') }}</a>{{ t('understand-compensation:section.benefits.p2.after') }}</p>
      <p class="govuk-body">{{ t('understand-compensation:section.benefits.p3.before') }} <a href="https://www.gov.uk/appeal-benefit-decision" class="govuk-link" target="_blank">{{ t('understand-compensation:section.benefits.p3.linkText') }}</a>{{ t('understand-compensation:section.benefits.p3.after') }}</p>

      <h2 class="govuk-heading-m">{{ t('understand-compensation:section.insurance.heading') }}</h2>
      <p class="govuk-body">{{ t('understand-compensation:section.insurance.p1') }}</p>
      <p class="govuk-body">{{ t('understand-compensation:section.insurance.p2') }}</p>
      <p class="govuk-body">{{ t('understand-compensation:section.insurance.p3.before') }} <a href="https://www.financial-ombudsman.org.uk/consumers/how-to-complain" class="govuk-link" target="_blank">{{ t('understand-compensation:section.insurance.p3.linkText') }}</a>{{ t('understand-compensation:section.insurance.p3.after') }}</p>

      <h2 class="govuk-heading-m">{{ t('understand-compensation:section.employment.heading') }}</h2>
      <p class="govuk-body">{{ t('understand-compensation:section.employment.p1') }}</p>
      <p class="govuk-body">{{ t('understand-compensation:section.employment.p2') }}</p>
      <p class="govuk-body">{{ t('understand-compensation:section.employment.p3') }}</p>
      <p class="govuk-body">{{ t('understand-compensation:section.employment.p4.before') }} <a href="http://www.acas.org.uk/" class="govuk-link" target="_blank">{{ t('understand-compensation:section.employment.p4.linkText') }}</a>{{ t('understand-compensation:section.employment.p4.after') }}</p>

    </div>
  </div>
{% endblock %}
