{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-heading govuk-!-margin-bottom-8">
        <h1 class="gem-c-heading__text govuk-heading-xl">
          {{ t('victim-support-links:pageHeading') }}
        </h1>
      </div>
      <aside class="part-navigation-container" role="complementary">
        <nav data-module="ga4-link-tracker" aria-label="Pages in this guide" class="gem-c-contents-list govuk-!-margin-bottom-4" data-ga4-link-tracker-module-started="true">
          <h2 class="gem-c-contents-list__title">
            {{ t('victim-support-links:contents.title') }}
          </h2>
          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              {{ t('victim-support-links:contents.currentItem') }}
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/witness-service">{{ t('victim-support-links:contents.witnessLink') }}</a>
            </li>
          </ol>
        </nav>
      </aside>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">{{ t('victim-support-links:supportHeading') }}</h2>

      <div class="govuk-inset-text">
        <h3 class="govuk-heading-m">{{ t('victim-support-links:inset.heading') }}</h3>
        {{ t('victim-support-links:inset.policeText') }}<br><br>

        {{ t('victim-support-links:inset.samaritans.name') }}<br>
        {{ t('victim-support-links:inset.samaritans.phone') }}<br>
        Website: <a href="{{ t('common:urls.samaritans') }}" class="govuk-link" target="_blank">{{ t('victim-support-links:inset.samaritans.websiteLinkText') }}</a><br><br>

        {{ t('victim-support-links:inset.victimSupport.name') }}<br>
        {{ t('victim-support-links:inset.victimSupport.phone') }}<br>
        <a href="{{ t('common:urls.victimSupportHelp') }}" class="govuk-link" target="_blank">{{ t('victim-support-links:inset.victimSupport.linkText') }}</a><br><br>

        {{ t('victim-support-links:inset.availability') }}
      </div>

      <h3 class="govuk-heading-m">{{ t('victim-support-links:crimeSupport.heading') }}</h3>
      <p class="govuk-body">{{ t('victim-support-links:crimeSupport.lead') }}</p>
      <p class="govuk-body">{{ t('victim-support-links:crimeSupport.findLead') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('victim-support-links:crimeSupport.links', {returnObjects: true}) %}
          <li><a href="{{ item.url }}" class="govuk-link" target="_blank">{{ item.text }}</a></li>
        {% endfor %}
      </ul>

      <h3 class="govuk-heading-m">{{ t('victim-support-links:mentalHealth.heading') }}</h3>
      <p class="govuk-body">{{ t('victim-support-links:mentalHealth.body') }} <a href="{{ t('victim-support-links:urls.nhsMentalHealth') }}" class="govuk-link" target="_blank">{{ t('victim-support-links:mentalHealth.linkText') }}</a>.</p>

      <h3 class="govuk-heading-m">{{ t('victim-support-links:disability.heading') }}</h3>
      <p class="govuk-body">{{ t('victim-support-links:disability.body1') }}</p>
      <p class="govuk-body"><a href="{{ t('victim-support-links:urls.disabilityRights') }}" class="govuk-link" target="_blank">{{ t('victim-support-links:disability.linkText') }}</a>.</p>

      <h3 class="govuk-heading-m">{{ t('victim-support-links:easyRead.heading') }}</h3>
      <p class="govuk-body">{{ t('victim-support-links:easyRead.body1') }}</p>
      <p class="govuk-body">{{ t('victim-support-links:easyRead.body2') }}</p>
      <p class="govuk-body"><a href="{{ t('common:urls.cpsEasyRead') }}" class="govuk-link" target="_blank">{{ t('victim-support-links:easyRead.linkText') }}</a>.</p>
    </div>
  </div>
{% endblock %}
