{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-heading govuk-!-margin-bottom-8">
        <h1 class="gem-c-heading__text govuk-heading-xl">
          {{ t('victim-personal-statement:heading.main') }}
        </h1>
      </div>
      <aside class="part-navigation-container" role="complementary">
        <nav data-module="ga4-link-tracker" aria-label="Pages in this guide" class="gem-c-contents-list govuk-!-margin-bottom-4" data-ga4-link-tracker-module-started="true">
          <h2 class="gem-c-contents-list__title">
            {{ t('victim-personal-statement:contents.title') }}
          </h2>
          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              {{ t('victim-personal-statement:contents.nav.active') }}
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/claiming-expenses">{{ t('victim-personal-statement:contents.nav.claimingExpenses') }}</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/special-measures">{{ t('victim-personal-statement:contents.nav.specialMeasures') }}</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/requesting-court-hearing-transcript">{{ t('victim-personal-statement:contents.nav.requestingTranscript') }}</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/understand-compensation">{{ t('victim-personal-statement:contents.nav.understandCompensation') }}</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/return-property">{{ t('victim-personal-statement:contents.nav.returnProperty') }}</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/victims-code">{{ t('victim-personal-statement:contents.nav.victimsCode') }}</a>
            </li>
          </ol>
        </nav>
      </aside>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">{{ t('victim-personal-statement:section.main.heading') }}</h2>
      <p class="govuk-body-l">{{ t('victim-personal-statement:section.main.intro') }}</p>
      <p class="govuk-body">{{ t('victim-personal-statement:section.main.p1') }}</p>
      <p class="govuk-body">{{ t('victim-personal-statement:section.main.p2') }}</p>
      <p class="govuk-body">{{ t('victim-personal-statement:section.main.p3') }}</p>

      <h3 class="govuk-heading-m">{{ t('victim-personal-statement:section.when.heading') }}</h3>
      <p class="govuk-body">{{ t('victim-personal-statement:section.when.p1') }}</p>
      <p class="govuk-body">{{ t('victim-personal-statement:section.when.p2') }}</p>
      <p class="govuk-body">{{ t('victim-personal-statement:section.when.p3') }}</p>

      <h3 class="govuk-heading-m">{{ t('victim-personal-statement:section.how.heading') }}</h3>
      <p class="govuk-body">{{ t('victim-personal-statement:section.how.p1') }}</p>
      <p class="govuk-body">{{ t('victim-personal-statement:section.how.p2') }}</p>

      <h3 class="govuk-heading-m">{{ t('victim-personal-statement:section.write.heading') }}</h3>
      <p class="govuk-body">{{ t('victim-personal-statement:section.write.p1') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('victim-personal-statement:section.write.lifeAreas', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
      <p class="govuk-body">{{ t('victim-personal-statement:section.write.examplesIntro') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('victim-personal-statement:section.write.examples', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
      <p class="govuk-body">{{ t('victim-personal-statement:section.write.policeAdvice') }}</p>
      <p class="govuk-body">{{ t('victim-personal-statement:section.write.whoCanWrite') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('victim-personal-statement:section.write.whoCanWriteList', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
      <p class="govuk-body">{{ t('victim-personal-statement:section.write.findOutMore.before') }} <a href="{{ t('victim-personal-statement:urls.victimPersonalStatement') }}" class="govuk-link" target="_blank">{{ t('victim-personal-statement:section.write.findOutMore.linkText') }}</a>.</p>
    </div>
  </div>
{% endblock %}
