{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-heading govuk-!-margin-bottom-8">
        <h1 class="gem-c-heading__text govuk-heading-xl">
          Understand your rights
        </h1>
      </div>
      <aside class="part-navigation-container" role="complementary">
        <nav data-module="ga4-link-tracker" aria-label="Pages in this guide" class="gem-c-contents-list govuk-!-margin-bottom-4" data-ga4-link-tracker-module-started="true">
          <h2 class="gem-c-contents-list__title">
            Contents
          </h2>
          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/victims-code">Victims’ Code</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/return-property">Return of property</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/understand-compensation">Understand compensation</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              Victim Personal Statement
            </li>
          </ol>
        </nav>
      </aside>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Victim Personal Statement</h2>
      <p class="govuk-body">A <a class="govuk-link" href="https://www.cps.gov.uk/sites/default/files/documents/legal_guidance/joint-agency-guide-victim-personal-statement_0.pdf">Victim Personal Statement</a> is your opportunity to explain how a crime has affected you, in your own words.</p>
      <p class="govuk-body">In England and Wales, you can give a Victim Personal Statement when reporting the crime or later in the process.</p>
      <p class="govuk-body">It's separate from your witness statement and helps the court, police, and prosecutors understand the emotional, physical, and financial impact the crime has had on your life.</p>
      <p class="govuk-body">The judge may consider your Victim Personal Statement when deciding a sentence. You can also say if you'd like to read it aloud in court.</p>
      <p class="govuk-body">Giving a Victim Personal Statement is your choice, and support is available to help you.</p>
      <p class="govuk-body">A Victim Personal Statement is sometimes called a Victim Impact Statement.</p>
      <p class="govuk-body">For more information contact your local Police Force.</p>
    </div>
  </div>
{% endblock %}