{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-heading govuk-!-margin-bottom-8">
        <h1 class="gem-c-heading__text govuk-heading-xl">
          Understand the process
        </h1>
      </div>
      <aside class="part-navigation-container" role="complementary">
        <nav data-module="ga4-link-tracker" aria-label="Pages in this guide" class="gem-c-contents-list govuk-!-margin-bottom-4" data-ga4-link-tracker-module-started="true">
          <h2 class="gem-c-contents-list__title">
            Contents
          </h2>
          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/support-roles">Key roles in the criminal justice system</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              Victims’ journey
            </li>
          </ol>
        </nav>
      </aside>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">A victim's journey through the criminal justice system</h2>
      <p class="govuk-body">Going through the criminal justice system can feel daunting and overwhelming. This overview explains a victim’s journey through every stage to help you understand what the process looks like and how the different steps relate to each other.</p>
      <p class="govuk-body">Each victim’s journey depends on the crime, the outcome of the investigation, and access to support services, but the rights victims can expect to receive are set out in the <a class="govuk-link" href="https://www.gov.uk/government/publications/the-code-of-practice-for-victims-of-crime/code-of-practice-for-victims-of-crime-in-england-and-wales-victims-code" target="_blank">Victims' Code (opens in new tab)</a>.</p>

      <h2 class="govuk-heading-m">Stage 1: Reporting the crime</h2>
      <p class="govuk-body">A crime happens to you.</p>
      <p class="govuk-body">You have the right to report the crime to the police.</p>
      <p class="govuk-body">If you decide not to report the crime, you can still get help from support services at any point.</p>

      <h2 class="govuk-heading-m">Stage 2: The police investigation</h2>
      <p class="govuk-body">You will receive a crime reference number and a victims of crime letter.</p>
      <p class="govuk-body">You will give a witness statement, and have the opportunity to give a Victim Personal Statement.</p>
      <p class="govuk-body">The police will assess your needs and refer you to support services.</p>

      <h2 class="govuk-heading-m">Stage 3: Charging the suspect</h2>
      <p class="govuk-body">You will receive updates on the police investigation.</p>
      <p class="govuk-body">The police will decide whether to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Charge the suspect and may refer the case to the Crown Prosecution Service.</li>
        <li>Give the offender a caution with certain conditions.</li>
        <li>Not progress the case if there isn't enough evidence.</li>
      </ul>
      <p class="govuk-body">If the case is referred to the Crown Prosecution Service, they will decide whether to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Charge the suspect and take the case to court.</li>
        <li>Not to take the case to court.</li>
      </ul>
      <p class="govuk-body">If the Crown Prosecution Service decide not to take the case to court, you can ask for a review of the decision through the Victims’ Right to Review Scheme.</p>

      <h2 class="govuk-heading-m">Stage 4: The first court hearing</h2>
      <p class="govuk-body">The defendant will state their plea, and you will be told the outcome.</p>
      <p class="govuk-body">The defendant might:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Plead guilty to all the charges. Plead guilty means they say they did the crimes.</li>
        <li>Plead guilty to some of the charges.</li>
        <li>Plead not guilty to all of the charges.</li>
      </ul>
      <p class="govuk-body">If the defendant pleads guilty, the case will proceed to sentencing.</p>
      <p class="govuk-body">The Witness Care Unit will tell you the sentence.</p>
      <p class="govuk-body">You will be referred to the Victim Contact Scheme if the offender is sentenced to over 12 months or to a hospital order for a violent or sexual crime.</p>
      <p class="govuk-body">If the defendant pleads not guilty, a trial date will be set.</p>

      <h2 class="govuk-heading-m">Stage 5: The court trial</h2>
      <p class="govuk-body">The Witness Care Unit will assess your needs and support you before the trial. They may refer you to the Witness Service.</p>
      <p class="govuk-body">On the day of the trial you may have to go to court to give evidence.</p>
      <p class="govuk-body">You can get extra support called Special Measures if you need help you give evidence.</p>
      <p class="govuk-body">The Witness Care Unit will tell you the verdict once it has been reached.</p>
      <p class="govuk-body">The outcome could be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>The defendant is found guilty and the case proceeds to sentencing. If the offender appeals their sentence you will be told.</li>
        <li>The defendant is found not guilty and you may be referred to support services.</li>
      </ul>

      <h2 class="govuk-heading-m">Stage 6: After the trial</h2>
      <p class="govuk-body">You can join the Victim Contact Scheme if the offender is sentenced to over 12 months or to a hospital order for a violent or sexual crime.</p>
      <p class="govuk-body">You will receive updates throughout the offender's sentence from the Victim Contact Scheme.</p>
      <p class="govuk-body">You will be told when the offender is released.</p>
      <p class="govuk-body">The offender might be considered for parole (early release).</p>
      <p class="govuk-body">You can give your views on parole conditions and write a Victim Personal Statement for the Parole Board.</p>
      <p class="govuk-body">You will be told the Parole Board's decision.</p>
    </div>
  </div>
{% endblock %}