{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ t('victims-journey:intro.heading') }}
      </h1>

      <p class="govuk-body">{{ t('victims-journey:intro.para1') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('victims-journey:intro.list1', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>

      <p class="govuk-body">{{ t('victims-journey:intro.para2') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('victims-journey:intro.list2', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>

      <p class="govuk-body">{{ t('victims-journey:intro.para3') }} <a href="/case/victims-code" class="govuk-link">{{ t('victims-journey:intro.para3LinkText') }}</a>.</p>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            {{ t('victims-journey:details.summary') }}
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>{{ t('victims-journey:details.para1') }}</p>
          <p>{{ t('victims-journey:details.para2') }}</p>
          <p>{{ t('victims-journey:details.para3') }}</p>
        </div>
      </details>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
              {{ t('victims-journey:stage1.heading') }}
            </span>
            </h2>
          </div>
          <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">{{ t('victims-journey:stage1.para1') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage1.para2') }}</p>
            <p class="govuk-body"><a href="{{ t('victims-journey:urls.victimWitnessInfo') }}" class="govuk-link" target="_blank">{{ t('victims-journey:stage1.para3') }}</a></p>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage1.subheading1') }}</h3>
            <p class="govuk-body">{{ t('victims-journey:stage1.para4') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage1.para5') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage1.para6') }}</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="{{ t('victims-journey:urls.witnessStatement') }}" class="govuk-link" target="_blank">{{ t('victims-journey:stage1.list1.0') }}</a></li>
              <li><a href="/case/victim-personal-statement" class="govuk-link">{{ t('victims-journey:stage1.list1.1') }}</a></li>
            </ul>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage1.subheading2') }}</h3>
            <p class="govuk-body">{{ t('victims-journey:stage1.para7') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage1.para8') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage1.para9') }}</p>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage1.subheading3') }}</h3>
            <p class="govuk-body">{{ t('victims-journey:stage1.para10') }}
            <p class="govuk-body">{{ t('victims-journey:stage1.para11') }}</p>

          </div>
        </div>

        <!-- ### END STAGE 1 ### -->

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
              {{ t('victims-journey:stage2.heading') }}
            </span>
            </h2>
          </div>
          <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content">
            <p class="govuk-body">{{ t('victims-journey:stage2.para1') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage2.para2') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage2.para3') }}</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for item in t('victims-journey:stage2.list1', {returnObjects: true}) %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <!-- ### END STAGE 2 ### -->

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
              {{ t('victims-journey:stage3.heading') }}
            </span>
            </h2>
          </div>
          <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content">
            <p>{{ t('victims-journey:stage3.para1') }}</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for item in t('victims-journey:stage3.list1', {returnObjects: true}) %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
            <p class="govuk-body">{{ t('victims-journey:stage3.para2') }}</p>

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  {{ t('victims-journey:stage3.details.summary') }}
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>{{ t('victims-journey:stage3.details.para1') }}</p>
              </div>
            </details>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage3.subheading1') }}</h3>
            <p>{{ t('victims-journey:stage3.para3') }}</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for item in t('victims-journey:stage3.list2', {returnObjects: true}) %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>

            <p>{{ t('victims-journey:stage3.para4') }}</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for item in t('victims-journey:stage3.list3', {returnObjects: true}) %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
            <p class="govuk-body">{{ t('victims-journey:stage3.para5') }}</p>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage3.subheading2') }}</h3>
            <p class="govuk-body">{{ t('victims-journey:stage3.para6') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage3.para7') }}</p>
            <p class="govuk-body"><a href="{{ t('victims-journey:urls.victimsRightReview') }}" class="govuk-link" target="_blank">{{ t('victims-journey:stage3.para8') }}</a></p>
          </div>
        </div>

        <!-- ### END STAGE 3 ### -->

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
              {{ t('victims-journey:stage4.heading') }}
            </span>
            </h2>
          </div>
          <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content">
            <p class="govuk-body">{{ t('victims-journey:stage4.para1') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage4.para2') }}</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for item in t('victims-journey:stage4.list1', {returnObjects: true}) %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
            <p class="govuk-body">{{ t('victims-journey:stage4.para3') }}</p>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage4.subheading1') }}</h3>
            <p class="govuk-body">{{ t('victims-journey:stage4.para4') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage4.para5') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage4.para6') }}</p>
            <p class="govuk-body"><a href="/case/victim-personal-statement" class="govuk-link">{{ t('victims-journey:stage4.para7') }}</a>.</p>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage4.subheading2') }}</h3>
            <p class="govuk-body">{{ t('victims-journey:stage4.para8') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage4.para9') }}</p>
          </div>
        </div>

        <!-- ### END STAGE 4 ### -->

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-5">
              {{ t('victims-journey:stage5.heading') }}
            </span>
            </h2>
          </div>
          <div id="accordion-with-summary-sections-content-5" class="govuk-accordion__section-content">
            <p class="govuk-body">{{ t('victims-journey:stage5.para1') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage5.para2') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage5.para3') }}</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for item in t('victims-journey:stage5.list1', {returnObjects: true}) %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>

            <p class="govuk-body">{{ t('victims-journey:stage5.para4') }}</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for item in t('victims-journey:stage5.list2', {returnObjects: true}) %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
            <p class="govuk-body">{{ t('victims-journey:stage5.para5') }}</p>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage5.subheading1') }}</h3>
            <p class="govuk-body">{{ t('victims-journey:stage5.para6') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage5.para7') }}</p>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage5.subheading2') }}</h3>
            <p class="govuk-body">{{ t('victims-journey:stage5.para8') }}</p>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage5.subheading3') }}</h3>
            <p class="govuk-body">{{ t('victims-journey:stage5.para9') }}</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for item in t('victims-journey:stage5.list3', {returnObjects: true}) %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>

            <p>{{ t('victims-journey:stage5.para10') }}</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for item in t('victims-journey:stage5.list4', {returnObjects: true}) %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  {{ t('victims-journey:stage5.details.summary') }}
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>{{ t('victims-journey:stage5.details.para1') }}</p>
                <p>{{ t('victims-journey:stage5.details.para2') }}</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in t('victims-journey:stage5.details.list1', {returnObjects: true}) %}
                    <li>{{ item }}</li>
                  {% endfor %}
                </ul>
                <p>{{ t('victims-journey:stage5.details.para3') }}</p>
                <p>{{ t('victims-journey:stage5.details.para4') }}</p>
                <p><a href="{{ t('common:urls.cpsSpecialMeasures') }}" class="govuk-link" target="_blank">{{ t('victims-journey:stage5.details.para5') }}</a></p>
              </div>
            </details>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage5.subheading4') }}</h3>
            <p class="govuk-body">{{ t('victims-journey:stage5.para11') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage5.para12') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage5.para13') }}</p>
          </div>
        </div>

        <!-- ### END STAGE 5 ### -->

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-6">
              {{ t('victims-journey:stage6.heading') }}
            </span>
            </h2>
          </div>
          <div id="accordion-with-summary-sections-content-6" class="govuk-accordion__section-content">
            <p class="govuk-body">{{ t('victims-journey:stage6.para1') }}</p>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage6.subheading1') }}</h3>
            <p class="govuk-body">{{ t('victims-journey:stage6.para2') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage6.para3') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage6.para4') }}</p>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage6.subheading2') }}</h3>
            <p class="govuk-body">{{ t('victims-journey:stage6.para5') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage6.para6') }}
            <a href="{{ t('common:urls.victimSupport') }}" class="govuk-link" target="_blank">{{ t('victims-journey:stage6.para6LinkText') }}</a>.</p>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage6.subheading3') }}</h3>
            <p class="govuk-body">{{ t('victims-journey:stage6.para7') }}</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for item in t('victims-journey:stage6.list1', {returnObjects: true}) %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
            <p class="govuk-body">{{ t('victims-journey:stage6.para8') }}</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for item in t('victims-journey:stage6.list2', {returnObjects: true}) %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage6.subheading4') }}</h3>
            <p class="govuk-body">{{ t('victims-journey:stage6.para9') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage6.para10') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage6.para11') }}</p>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage6.subheading5') }}</h3>
            <p class="govuk-body">{{ t('victims-journey:stage6.para12') }}</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for item in t('victims-journey:stage6.list3', {returnObjects: true}) %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
            <p class="govuk-body">{{ t('victims-journey:stage6.para13') }}</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for item in t('victims-journey:stage6.list4', {returnObjects: true}) %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
            <p class="govuk-body">{{ t('victims-journey:stage6.para14') }} <a href="{{ t('victims-journey:urls.sentencingCouncil') }}" class="govuk-link" target="_blank">{{ t('victims-journey:stage6.para14LinkText') }}</a>.</p>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage6.subheading6') }}</h3>
            <p class="govuk-body">{{ t('victims-journey:stage6.para15') }}</p>
            <p class="govuk-body"><a href="{{ t('victims-journey:urls.crownCourtSentenceReview') }}" class="govuk-link" target="_blank">{{ t('victims-journey:stage6.para16') }}</a></p>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage6.subheading7') }}</h3>
            <p class="govuk-body">{{ t('victims-journey:stage6.para17') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage6.para18') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage6.para19') }}</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for item in t('victims-journey:stage6.list5', {returnObjects: true}) %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
            <p class="govuk-body">{{ t('victims-journey:stage6.para20') }}</p>
            <p class="govuk-body"><a href="{{ t('victims-journey:urls.victimContactScheme') }}" class="govuk-link" target="_blank">{{ t('victims-journey:stage6.para21') }}</a></p>

            <h3 class="govuk-heading-s">{{ t('victims-journey:stage6.subheading8') }}</h3>
            <p class="govuk-body">{{ t('victims-journey:stage6.para22') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage6.para23') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage6.para24') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage6.para25') }}</p>
            <p class="govuk-body">{{ t('victims-journey:stage6.para26') }}</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ t('victims-journey:stage6.list6item1Prefix') }} <a href="{{ t('victims-journey:urls.paroleGuide') }}" class="govuk-link" target="_blank">{{ t('victims-journey:stage6.list6item1LinkText') }}</a></li>
              <li>{{ t('victims-journey:stage6.list6item2Prefix') }} <a href="{{ t('victims-journey:urls.paroleGuide') }}" class="govuk-link" target="_blank">{{ t('victims-journey:stage6.list6item2LinkText') }}</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>
{% endblock %}
