{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-heading govuk-!-margin-bottom-8">
        <h1 class="gem-c-heading__text govuk-heading-xl">
          Understand your rights
        </h1>
      </div>
      <aside class="part-navigation-container" role="complementary">
        <nav data-module="ga4-link-tracker" aria-label="Pages in this guide" class="gem-c-contents-list govuk-!-margin-bottom-4" data-ga4-link-tracker-module-started="true">
          <h2 class="gem-c-contents-list__title">
            Contents
          </h2>
          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              Victims’ Code
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/return-property">Return of property</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/understand-compensation">Understand compensation</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link gem-c-force-print-link-styles" href="/case/victim-personal-statement">Victim Personal Statement</a>
            </li>
          </ol>
        </nav>
      </aside>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">The Victims’ Code</h2>
      <p class="govuk-body">The Victims’ Code outlines the rights you can expect to receive as a victim of crime, including the right to be informed about the criminal justice process and the support available to you.</p>
      <div class="govuk-summary-card highlight">
        <div class="govuk-summary-card__content govuk-!-padding-6">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <h2 class="govuk-heading-m">Summary of Victims’ Rights</h2>
              <ol class="govuk-list govuk-list--number">
                <li>
                  <h3>To be able to understand and to be understood</h3>
                  <p class="govuk-body">
                    You have the Right to be given information in a way that is easy to understand and to be provided with help to be understood, including, where necessary, access to interpretation and translation services.
                  </p>
                </li>
                <li>
                  <h3>To have the details of the crime recorded without unjustified delay</h3>
                  <p class="govuk-body">
                    You have the Right to have details of the crime recorded by the police as soon as possible after the incident. If you are required to provide a witness statement or be interviewed, you have the Right to be provided with additional support to assist you through this process.
                  </p>
                </li>
                <li>
                  <h3>To be provided with information when reporting the crime</h3>
                  <p class="govuk-body">
                    You have the Right to receive written confirmation when reporting a crime, to be provided with information about the criminal justice process and to be told about programmes or services for victims. This might include services where you can meet with the suspect or offender, which is known as Restorative Justice.
                  </p>
                </li>
                <li>
                  <h3>To be referred to services that support victims and have services and support tailored to your needs</h3>
                  <p class="govuk-body">
                    You have the Right to be referred to services that support victims, which includes the Right to contact them directly, and to have your needs assessed so services and support can be tailored to meet your needs. If eligible, you have the Right to be offered a referral to specialist support services and to be told about additional support available at court, for example special measures.
                  </p>
                </li>
                <li>
                  <h3>To be provided with information about compensation</h3>
                  <p class="govuk-body">
                    Where eligible, you have the Right to be told about how to claim compensation for any loss, damage or injury caused as a result of crime.
                  </p>
                </li>
                <li>
                  <h3>To be provided with information about the investigation and prosecution</h3>
                  <p class="govuk-body">
                    You have the Right to be provided with updates on your case and to be told when important decisions are taken. You also have the Right, at certain stages of the justice process, to ask for decisions to be looked at again by the relevant service provider.
                  </p>
                </li>
                <li>
                  <h3>To make a Victim Personal Statement</h3>
                  <p class="govuk-body">
                    You have the Right to make a Victim Personal Statement, which tells the court how the crime has affected you and is considered when sentencing the offender. You will be given information about the process.
                  </p>
                </li>
                <li>
                  <h3>To be given information about the trial, trial process and your role as a witness</h3>
                  <p class="govuk-body">
                    If your case goes to court, you have the Right to be told the time, date and location of any hearing and the outcome of those hearings in a timely way. If you are required to give evidence, you have the Right to be offered appropriate help before the trial and, where possible, if the court allows, to meet with the prosecutor before giving evidence.
                  </p>
                </li>
                <li>
                  <h3>To be given information about the outcome of the case and any appeals</h3>
                  <p class="govuk-body">
                    You have the Right to be told the outcome of the case and, if the defendant is convicted, to be given an explanation of the sentence. If the offender appeals against their conviction or sentence, you have the Right to be told about the appeal and its outcome.
                  </p>
                </li>
                <li>
                  <h3>To be paid expenses and have property returned</h3>
                  <p class="govuk-body">
                    If you are required to attend court and give evidence, you have the Right to claim certain expenses. If any of your property was taken as evidence, you have the Right to get it back as soon as possible.
                  </p>
                </li>
                <li>
                  <h3>To be given information about the offender following a conviction</h3>
                  <p class="govuk-body">
                    Where eligible, you have the Right to be automatically referred to the Victim Contact Scheme, which will provide you with information about the offender and their progress in prison, and if/when they become eligible for consideration of parole or release. Where applicable, you also have the Right to make a new Victim Personal Statement, in which you can say how the crime continues to affect you.
                  </p>
                </li>
                <li>
                  <h3>To make a complaint about your Rights not being met</h3>
                  <p class="govuk-body">
                    If you believe that you have not received your Rights, you have the Right to make a complaint to the relevant service provider. If you remain unhappy, you can contact the Parliamentary and Health Service Ombudsman.
                  </p>
                </li>
              </ol>
            </div>
          </dl>
          <div class="govuk-!-margin-top-4">
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/the-code-of-practice-for-victims-of-crime/code-of-practice-for-victims-of-crime-in-england-and-wales-victims-code" rel="noopener noreferrer" title="VS Charity">
                Find out more about the Victims Code
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
