// Custom styling

//.govuk-main-wrapper {
  //min-height: 600px;
//}

.court-information-not-found-error {
    text-align: center;
    padding: 20px;
    font-size: xx-large;
    font-weight: bold;
    background-color: gainsboro;
}

.govuk-input:invalid {
    border-color: #d4351c;
    outline-color: #f499be;
}

.govuk-prototype-kit-common-templates-related-items {
    border-top: 2px solid #1d70b8;
    padding-top: 10px;
}

.govuk-notification-banner:focus {
    outline-width: 0;
}

// Quick exit button, START

.govuk-exit-this-page-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.govuk-exit-this-page {
    position: sticky;
    bottom: 12px;
    height: 40px;
    width: auto;
    margin-bottom: 20px;
}

/* Optional: only apply on wide screens */
@media (min-width: 40.0625em) {
    .govuk-exit-this-page {
        padding-right: 10px;
        float: initial;
        display: block;
        pointer-events: none;

        button {
            pointer-events: auto;
        }
    }
}

@media only print {
    .govuk-exit-this-page {
        display: none;
    }
}

// Quick exit button, END

.govuk-summary-card.highlight {
    // Dashboard govuk-summary-card with extra highlight class

    background: #1d70b8;

    .govuk-summary-card__title-wrapper {
        background: #1d70b8;
        padding-bottom: 14px;
        border-bottom: 2px solid white;
    }

    @media (min-width: 40.0625em) {
        .govuk-summary-card__content {
            padding-bottom: 20px;
        }
    }

    h2,
    h3,
    p,
    ol,
    li,
    a {
        color: #ffffff;
    }

    h2 span {
        border-bottom: solid #ffffff 5px;
    }

    a {
        word-wrap: break-word;
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-card__title-wrapper {
        min-height: 60px;
    }
}

@media (max-width: 40.0625em) {
    .govuk-summary-card__title-wrapper {
        padding-bottom: 10px;
    }
}


.hmrc-language-select {
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.1428571429;

    //margin-right: auto;
    //margin-left: auto;
    //max-width: 960px;
}

@media print {
    .hmrc-language-select {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .hmrc-language-select {
        font-size:1rem;
        line-height: 1.25
    }
}

@media print {
    .hmrc-language-select {
        font-size: 14pt;
        line-height: 1.2
    }
}

.hmrc-language-select:after {
    clear: both;
    content: "";
    display: block
}

.hmrc-language-select__list {
    float: right;
    margin-top: 1em;
    text-align: right
}

.hmrc-language-select__list-item {
    display: inline-block
}

.hmrc-language-select__list-item:first-child:after {
    border-right: .09375em solid #0b0c0c;
    content: "";
    display: inline-block;
    height: 1em;
    position: relative;
    top: .1875em
}

.hmrc-language-select__list-item [aria-current],.hmrc-language-select__list-item a {
    padding: .3125em
}
