.govuk-main-wrapper {
  min-height: 600px;
}

.govuk-summary-card.highlight {
    background: #1d70b8;

}

.govuk-summary-card.highlight h2,
.govuk-summary-card.highlight h3,
.govuk-summary-card.highlight p,
.govuk-summary-card.highlight ol,
.govuk-summary-card.highlight li,
.govuk-summary-card.highlight a {
    color: #ffffff;
}

.govuk-summary-card.highlight h2 span {
    border-bottom: solid #ffffff 5px;
}

.court-information-not-found-error {
    text-align: center;
    padding: 20px;
    font-size: xx-large;
    font-weight: bold;
    background-color: gainsboro;
}

.govuk-input:invalid {
    border-color: #d4351c;
    outline-color: #f499be;
}

.govuk-prototype-kit-common-templates-related-items {
    border-top: 2px solid #1d70b8;
    padding-top: 10px;
}


// Quick exit button, START

.govuk-exit-this-page-wrapper {
    min-height: 0;
}

.govuk-exit-this-page {
    margin-bottom: 30px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
}

@media (min-width: 40.0625em) {
    .govuk-exit-this-page {
        margin-bottom: 50px;
    }
}

@media (min-width: 40.0625em) {
    .govuk-exit-this-page {
        display: inline-block;
        right: 0;
        left: auto;
        width: auto;
        float: right;
    }
}

.govuk-exit-this-page__button {
    margin-bottom: 0;
}

.govuk-exit-this-page__indicator {
    padding: 10px;
    display: none;
    padding-bottom: 0;
    color: inherit;
    line-height: 0;
    text-align: center;
    pointer-events: none;
}

.govuk-exit-this-page__indicator--visible {
    display: block;
}

.govuk-exit-this-page__indicator-light {
    box-sizing: border-box;
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin: 0 0.125em;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    border-color: currentcolor;
}

.govuk-exit-this-page__indicator-light--on {
    border-width: 0.375em;
}

@media only print {
    .govuk-exit-this-page {
        display: none;
    }
}

.govuk-exit-this-page-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
}

.govuk-exit-this-page-hide-content * {
    display: none !important;
}

.govuk-exit-this-page-hide-content .govuk-exit-this-page-overlay {
    display: block !important;
}

// Quick exit button, END
