.govuk-main-wrapper {
  min-height: 600px;
}

.govuk-summary-card.highlight {
    background: #1d70b8;

}

.govuk-summary-card.highlight h2,
.govuk-summary-card.highlight h3,
.govuk-summary-card.highlight p,
.govuk-summary-card.highlight ol,
.govuk-summary-card.highlight li,
.govuk-summary-card.highlight a {
    color: #ffffff;
}

.govuk-summary-card.highlight h2 span {
    border-bottom: solid #ffffff 5px;
}

.court-information-not-found-error {
    text-align: center;
    padding: 20px;
    font-size: xx-large;
    font-weight: bold;
    background-color: gainsboro;
}

.govuk-input:invalid {
    border-color: #d4351c;
    outline-color: #f499be;
}

.govuk-prototype-kit-common-templates-related-items {
    border-top: 2px solid #1d70b8;
    padding-top: 10px;
}


// Quick exit button, START

.govuk-exit-this-page-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.govuk-exit-this-page {
    position: sticky;
    bottom: 12px;
    height: 38px;
}

@media (min-width: 40.0625em) {
    .govuk-exit-this-page {
        padding-right: 10px;
    }
}

@media only print {
    .govuk-exit-this-page {
        display: none;
    }
}

// Quick exit button, END
