{% extends "layout/public.njk" %}
{% set pageTitle = applicationName + " - Support and guidance" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1 class="govuk-heading-xl">Support and guidance</h1>
  <p class="govuk-body">
    This page provides information on how to access support services and guidance for victims.
  </p>
{% endblock %}
