{% extends "layout/public.njk" %}
{% set pageTitle = applicationName + " - Understanding the process" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1 class="govuk-heading-xl">Understanding the process</h1>
  <p class="govuk-body">
    Learn what to expect after a hearing or decision and what your next steps might be.
  </p>
{% endblock %}