{% extends "layout/public.njk" %}
{% set pageTitle = applicationName + " - The Victims Code" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1 class="govuk-heading-xl">The Victims Code</h1>
  <p class="govuk-body">
    The Victims' Code details your rights as a crime victim, including information about the criminal justice process and available support.
  </p>

{% endblock %}