{% macro actionCard(title, description, href, linkText, variant='default') %}

  {% set cardClasses = "track-a-case-govuk-summary-card govuk-summary-card" %}
  {% if variant == 'emphasised' %}
    {% set cardClasses = cardClasses + " action-card--emphasised" %}
  {% endif %}

  <div class="{{ cardClasses }}">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">{{ title | safe }}</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row action-card-list__row">
          <p class="govuk-body">{{ description | safe }}</p>
          {% if href %}
            <p class="govuk-body">
              <a class="govuk-link" href="{{ href }}">
                {{ linkText or href}}
              </a>
            </p>
          {% endif %}
        </div>
      </dl>
    </div>
  </div>
{% endmacro %}
