{% macro actionCard(title, description, href, linkText, variant='default') %}
  {% set isEmphasised = variant == 'emphasised' %}

  {% if isEmphasised %}
    {% set cardClasses = "govuk-summary-card action-card--emphasised" %}
  {% else %}
    {% set cardClasses = "govuk-summary-card" %}
  {% endif %}

  <div class="{{ cardClasses }}">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">{{ title }}</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row action-card-list__row">
          <p class="govuk-body">{{ description }}</p>
          {% if href %}
            <p class="govuk-body">
              <a class="govuk-link" href="{{ href }}">
                {{ linkText or href}}
              </a>
            </p>
          {% endif %}
        </div>
      </dl>
    </div>
  </div>
{% endmacro %}
