{% extends "layout/citizen-authenticated.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t('about-the-service:heading', {applicationName: applicationName}) }}</h1>

      {{ govukInsetText({
        html: '<strong>' + t('about-the-service:insetStrong') + '</strong><br>' + t('about-the-service:insetBody')
      }) }}

      <p class="govuk-body">{{ t('about-the-service:earlyVersion', {applicationName: applicationName}) }}</p>
      <p class="govuk-body">{{ t('about-the-service:designedFor') }}</p>

      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('about-the-service:aimsItems', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>

      <p class="govuk-body">{{ t('about-the-service:addingFeatures') }}</p>
      <p class="govuk-body">{{ t('about-the-service:helpShape') }}</p>

      <h2 class="govuk-heading-m">{{ t('about-the-service:feedbackHeading') }}</h2>
      <p class="govuk-body">{{ t('about-the-service:feedbackText') }} <a href="{{ t('about-the-service:feedbackLinkUrl') }}" class="govuk-link" target="_blank">{{ t('about-the-service:feedbackLinkText', {applicationName: applicationName}) }}</a>.</p>

      <h2 class="govuk-heading-m">{{ t('about-the-service:researchHeading', {applicationName: applicationName}) }}</h2>
      <p class="govuk-body">{{ t('about-the-service:researchIntro') }}</p>
      <p class="govuk-body">{{ t('about-the-service:researchInvited') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('about-the-service:researchItems', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
      <p class="govuk-body">{{ t('about-the-service:researchOpt') }}</p>

      <p class="govuk-body"><a href="{{ t('about-the-service:researchLinkUrl') }}" class="govuk-link" target="_blank">{{ t('about-the-service:researchLinkText', {applicationName: applicationName}) }}</a>.</p>

    </div>
  </div>
{% endblock %}
