{% extends "layout/citizen-authenticated.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">{{ t('access-denied:heading') }}</h2>
    <p class="govuk-body">
      {{ t('access-denied:para1') }}
    </p>
    <p class="govuk-body">
      {{ t('access-denied:para2') }}
      <a class="govuk-link" href="{{ t('common:urls.findCourtTribunal') }}"
         target="_blank">{{ t('access-denied:findCourtLink') }}</a>.
    </p>
  </div>
</div>

{% endblock %}
