{% extends "layout/public.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {% if errorList %}
    {{ govukErrorSummary({
      titleText: t('cookies:errorSummaryTitle'),
      errorList: errorList
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ t('cookies:heading') }}</h1>

      <p class="govuk-body">{{ t('cookies:intro1') }}</p>
      <p class="govuk-body">{{ t('cookies:intro2', {applicationName: applicationName}) }}</p>

      <form id="cookie-preferences" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-fieldset__heading govuk-heading-l govuk-!-margin-top-5">
                {{ t('cookies:analyticsHeading') }}
              </h2>
            </legend>

            <p class="govuk-body">{{ t('cookies:analyticsIntro') }}</p>
            <p class="govuk-body">{{ t('cookies:analyticsIntro2') }}</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for item in t('cookies:analyticsItems', {returnObjects: true}) %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>

            <h3 class="govuk-heading-m govuk-!-margin-top-5">{{ t('cookies:preferencesHeading', {applicationName: applicationName}) }}</h3>

            {{ govukRadios({
              idPrefix: "cookiePreferenceAnalytics",
              name: "cookiePreferenceAnalytics",
              hint: {
                html: t('cookies:radioHint')
              },
              items: [
                {
                  value: 'accepted',
                  checked: cookieAccepted === 'accepted',
                  text: t('cookies:radioYes'),
                  attributes: {
                    'data-cookie-preference': 'analytics'
                  }
                },
                {
                  value: 'rejected',
                  text: t('cookies:radioNo'),
                  checked: cookieAccepted === 'rejected',
                  attributes: {
                    'data-cookie-preference': 'analytics'
                  }
                }
              ],
              errorMessage: errorList and (errorList | selectattr("href", "equalto", "#cookiePreferenceAnalytics") | first),
              classes: "govuk-radios--inline"
            }) }}
          </fieldset>
        </div>
        <input type="submit" class="govuk-button" id="save-preferences" value="{{ t('cookies:saveButton') }}" />
      </form>

      <h3 class="govuk-heading-m">{{ t('cookies:essentialHeading') }}</h3>
      <p class="govuk-body">{{ t('cookies:essentialText', {applicationName: applicationName}) }}</p>

      <h3 class="govuk-heading-m">{{ t('cookies:progressHeading') }}</h3>
      <p class="govuk-body">{{ t('cookies:progressText') }}</p>

      <h3 class="govuk-heading-m">{{ t('cookies:cookiePrefHeading') }}</h3>
      <p class="govuk-body">{{ t('cookies:cookiePref1') }}</p>
      <p class="govuk-body">{{ t('cookies:cookiePref2') }}</p>
    </div>
  </div>

{% endblock %}
