{% extends "layout/public.njk" %}
{%- from "govuk/components/button/macro.njk" import govukButton %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <script nonce="{{ cspNonce }}" type="module">

    function openNewTabWithDashboard(url, authenticated) {
      return function() {
        if (authenticated) {
          window.location.href = url;
        } else {
          const dash = window.open(url, '_blank', 'noopener,noreferrer')
          if (window.history?.length > 1) {
            window.location.replace('about:blank')
          } else {
            window.location.replace('about:blank')
          }
        }
      }
    }

    document.addEventListener('DOMContentLoaded', () => {
        const buttonElement = document.getElementById('start-now-button')
        if (buttonElement) {
          const url = buttonElement.dataset.url || '/case/dashboard'
          const authenticated = buttonElement.dataset.authenticated === "true"
          buttonElement.removeEventListener('click', openNewTabWithDashboard(url, authenticated))
          buttonElement.addEventListener('click', openNewTabWithDashboard(url, authenticated))
        }
      },
    )

  </script>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ applicationName }}</h1>

      <p class="govuk-body">Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>find information about your case, including the next court hearing</li>
        <li>get to know your rights and how the criminal justice system works</li>
        <li>get the right support</li>
      </ul>

      <h2 class="govuk-heading-m">Who this service is for</h2>
      <p class="govuk-body">
        This service is for people who have been a victim of crime in England and Wales and where:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the person or people accused of the crime have been charged by the police or the Crown Prosecution Service</li>
        <li>at least one of the people accused of the crime have been to a court hearing about the case at least once</li>
      </ul>

      <h2 class="govuk-heading-m">What you need to use this service</h2>
      <p class="govuk-body">To use this private beta service, you need the password from your sign-up confirmation email. If you are viewing court information, you will also need a One Login account sign-in.</p>

      <h2 class="govuk-heading-m">Keeping you safe</h2>
      <p class="govuk-body">There is a quick exit button on every page of this service. If you need to quickly close the website, click the quick exit button or press your shift key 3 times.</p>
      <p class="govuk-body">The site will close and the BBC Weather site will open instead. It will not be possible to click back to the page you were on in the service.</p>
      <p class="govuk-body">You will need to log in to the service again to return to the page you were on, when it is safe for you to do so.</p>

      {{ govukButton({
        text: "Start now",
        type: "button",
        isStartButton: true,
        attributes: {
          id: "start-now-button",
          "data-url": "/case/dashboard",
          "data-authenticated": correctPasswordAndNotExpired
        }
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related information</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a href="https://www.cps.gov.uk/information-and-support-victims-witnesses" class="govuk-link" target="_blank">Information and support for victims and witnesses on the Crown Prosecution Service website</a></li>
            <li><a href="https://www.gov.uk/browse/justice" class="govuk-link" target="_blank">Legal processes, courts and the police</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}
