{% extends "layout/public.njk" %}
{%- from "govuk/components/button/macro.njk" import govukButton %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Sign in to {{ applicationName }}
      </h1>
      <p class="govuk-body">Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>get to know who’s who in the criminal justice system</li>
        <li>find out who you can get support from</li>
        <li>see which court your case is going to
        <li>get information about the court, including parking and accessibility</li>
        <li>find out what you need to do to prepare if you’re giving evidence at a court hearing</li>
        <li>see at what stage you’re at in the process</li>
        <li>get to know more about your rights</li>
      </ul>

      <h2 class="govuk-heading-m">
        Who this service is for
      </h2>

      <p class="govuk-body">
        This service is for people who have been a victim of crime in England and Wales and where:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the person or people accused of the crime have been charged by the police or the Crown Prosecution Service</li>
        <li>at least one of the people accused of the crime have been to a court hearing about the case at least once</li>
      </ul>

      <p class="govuk-body">
        To sign in to this service you will need a <a href="{{ oneLoginLink }}" target="_blank">GOV.UK OneLogin</a>. This is so you can use the service securely.
      </p>

      {{ govukButton({
        text: "Start now",
        type: "button",
        isStartButton: true,
        attributes: {
          id: "start-now-button",
          "data-url": "/case/dashboard"
        }
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related information</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li><a href="https://www.cps.gov.uk/information-and-support-victims-witnesses" class="govuk-link" target="_blank">Information and support for victims and witnesses</a></li>
            <li><a href="https://www.gov.uk/browse/justice" class="govuk-link" target="_blank">Legal processes, courts and the police</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}
