{% extends "layout/public.njk" %}
{%- from "govuk/components/button/macro.njk" import govukButton %}
{% from "components/support-box/macro.njk" import supportBox %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}

  {# TODO: Add breadcrumbs when needed #}
  {# {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }} #}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ applicationName }}
      </h1>
      <p class="govuk-body">Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>view information about the court including accessibility information</li>
        <li>understand the process a criminal case can follow</li>
        <li>understand the key roles in the criminal justice community</li>
        <li>view the defendants(s)'s remand status</li>
        <li>view the Victims' Code</li>
      </ul>

      {% if useOneLogin %}
        {{ govukButton({
          text: "Make a request for authentication",
          href: "/signed-in",
          isStartButton: true
        }) }}
      {% else %}
        <div>
          {{ govukButton({
            text: "Start now",
            href: "/case/search",
            isStartButton: true
          }) }}
        </div>
      {% endif %}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p class="govuk-body">
        You can also <a href="#">get victim support</a> information and guidance.
      </p>

      {{ supportBox() }}

    </div>
    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related information
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Victim support resources
              </a>
            </li>
            <li>
              <a href="#">
                Police services
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}
