{% extends "layout/citizen-authenticated.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Privacy notice</h1>

      <p class="govuk-body">Coming soon ...</p>

    </div>
  </div>
{% endblock %}