{% extends "layout/citizen-authenticated.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t('privacy-notice:heading') }}</h1>

      <p class="govuk-body">{{ t('privacy-notice:intro1', {applicationName: applicationName}) }}</p>
      <p class="govuk-body">{{ t('privacy-notice:intro2') }}</p>

      <h3 class="govuk-heading-m">{{ t('privacy-notice:heading.whatDataWeCollect') }}</h3>
      <p class="govuk-body">{{ t('privacy-notice:whatDataWeCollect.intro') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('privacy-notice:whatDataWeCollect.items', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
        <li>{{ t('privacy-notice:whatDataWeCollect.item.ipPre') }}<a class="govuk-link" target="_blank" href="{{ t('privacy-notice:urls.browsers') }}">{{ t('privacy-notice:whatDataWeCollect.item.ipLink') }}</a>{{ t('privacy-notice:whatDataWeCollect.item.ipPost') }}</li>
        <li>{{ t('privacy-notice:whatDataWeCollect.item.cookiesPre') }}<a class="govuk-link" href="/cookies">{{ t('privacy-notice:whatDataWeCollect.item.cookiesLink') }}</a>{{ t('privacy-notice:whatDataWeCollect.item.cookiesPost') }}</li>
      </ul>

      <h3 class="govuk-heading-m">{{ t('privacy-notice:heading.whatWeDoWithYourData') }}</h3>
      <p class="govuk-body">{{ t('privacy-notice:whatWeDoWithYourData.para1') }}</p>
      <p class="govuk-body">{{ t('privacy-notice:whatWeDoWithYourData.para2') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('privacy-notice:whatWeDoWithYourData.willNotItems', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
      <p class="govuk-body">{{ t('privacy-notice:whatWeDoWithYourData.para3') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('privacy-notice:whatWeDoWithYourData.useItems', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
      <p class="govuk-body">{{ t('privacy-notice:whatWeDoWithYourData.para4Pre') }}<a class="govuk-link" target="_blank" href="{{ t('privacy-notice:urls.googleAnalytics') }}">{{ t('privacy-notice:whatWeDoWithYourData.para4Link') }}</a>{{ t('privacy-notice:whatWeDoWithYourData.para4Post', {applicationName: applicationName}) }}</p>

      <h3 class="govuk-heading-m">{{ t('privacy-notice:heading.contactUs') }}</h3>
      <p class="govuk-body">{{ t('privacy-notice:contactUs.intro') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in t('privacy-notice:contactUs.items', {returnObjects: true}) %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>

      <h3 class="govuk-heading-m">{{ t('privacy-notice:heading.peopleInPrison') }}</h3>
      <p class="govuk-body">
        {{ t('privacy-notice:prisonAddress') | safe }}<br><br>
        {{ t('privacy-notice:prisonEmail.pre') }}<a class="govuk-link" target="_blank" href="mailto:data.access1@justice.gov.uk">{{ t('privacy-notice:prisonEmail.link') }}</a>
      </p>

      <h3 class="govuk-heading-m">{{ t('privacy-notice:heading.allOthers') }}</h3>
      <p class="govuk-body">
        {{ t('privacy-notice:allOthersAddress') | safe }}<br><br>
        {{ t('privacy-notice:allOthersEmail.pre') }}<a class="govuk-link" target="_blank" href="mailto:data.access@justice.gov.uk">{{ t('privacy-notice:allOthersEmail.link') }}</a>
      </p>
      <p class="govuk-body">{{ t('privacy-notice:allOthers.para') }}</p>

      <p class="govuk-body">
        {{ t('privacy-notice:dpoAddress') | safe }}<br><br>
        {{ t('privacy-notice:dpoEmail.pre') }}<a class="govuk-link" target="_blank" href="mailto:dpo@justice.gov.uk">{{ t('privacy-notice:dpoEmail.link') }}</a>
      </p>

      <p class="govuk-body">{{ t('privacy-notice:ico.para') }}</p>
      <p class="govuk-body">
        {{ t('privacy-notice:icoAddress') | safe }}<br><br>
        {{ t('privacy-notice:ico.telephone') }}<br>
        {{ t('privacy-notice:ico.websitePre') }}<a class="govuk-link" href="{{ t('privacy-notice:urls.ico') }}" target="_blank">{{ t('privacy-notice:ico.websiteLink') }}</a>
      </p>

      <h3 class="govuk-heading-m">{{ t('privacy-notice:heading.changesToPolicy') }}</h3>
      <p class="govuk-body">{{ t('privacy-notice:changesToPolicy.para') }}</p>

      <h4 class="govuk-heading-s">{{ t('privacy-notice:heading.dateOfLastUpdate') }}</h4>
      <p class="govuk-body">{{ t('privacy-notice:lastUpdated') }}</p>
    </div>
  </div>
{% endblock %}
