{% extends "layout/citizen-authenticated.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="{{ privateBetaSignInApi }}" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <h1 class="govuk-heading-l">Sign in to {{ applicationName }}</h1>
        <p class="govuk-body">{{ applicationName }} is currently in a “private beta” phase, which means access must be restricted while ... You can find your password in the sign up email.</p>

        <div class="govuk-form-group">
          {{ govukPasswordInput({
            label: {
              text: "Enter your password",
              classes: "govuk-label govuk-label--m"
            },
            classes: "govuk-input--width-20",
            id: "password",
            name: "password",
            type: "password",
            autocomplete: "current-password"
          }) }}
        </div>

        {{ govukButton({
          text: "Sign in"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
