{% extends "layout/citizen-authenticated.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Privacy notice</h1>

      <p class="govuk-body">The ‘Victim pathfinder: Track my case’ service is provided by the Ministry of Justice (MoJ). The MoJ is committed to the protection and security of your personal information.</p>
      <p class="govuk-body">It is important that you read this privacy notice so that you are aware of how and why we are using such information.</p>

      <h3 class="govuk-heading-m">What data we collect</h3>
      <p class="govuk-body">We collect and use the following information:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your email address</li>
        <li>questions, queries or feedback you enter and save, including your email address if you decide to leave feedback or volunteer to participate in post-beta usage research sessions</li>
        <li>your Internet Protocol (IP) address, and details of which <a class="govuk-link" target="_blank" href="https://www.gov.uk/help/browsers">web browser</a> you used</li>
        <li>information on how you use the site, <a class="govuk-link" href="/cookies">using cookies</a> and page tagging techniques</li>
      </ul>

      <h3 class="govuk-heading-m">What we do with your data</h3>
      <p class="govuk-body">No information that you provide will be shared outside the MoJ, other than with MoJ IT providers that provide services supporting the running of this service.</p>
      <p class="govuk-body">We will not:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>sell or rent data to third parties</li>
        <li>share data with third parties for marketing purposes</li>
      </ul>
      <p class="govuk-body">Most of the personal information we use to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>allowing your access to the service for private beta</li>
        <li>contact you if you sign up to take part in user research</li>
        <li>understand the performance of the service</li>
      </ul>
      <p class="govuk-body">Where you provide your consent, we use <a class="govuk-link" target="_blank" href="https://support.google.com/analytics/topic/2919631">Google Analytics</a> cookies to collect information about how you use Track My Case. This includes IP addresses.</p>

      <h3 class="govuk-heading-m">Contact us or make a complaint</h3>
      <p class="govuk-body">Contact us if you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have a question about anything in this privacy notice</li>
        <li>think that your personal data has been misused or mishandled</li>
      </ul>

      <h3 class="govuk-heading-m">People in prison or on probation</h3>
      <p class="govuk-body">
        Branston Registry<br>
        Building 16, S & T Store<br>
        Burton Road<br>
        Branston<br>
        Burton-on-Trent<br>
        Staffordshire<br>
        DE14 3EG<br><br>
        Email: <a class="govuk-link" target="_blank" href="mailto:data.access1@justice.gov.uk">data.access1@justice.gov.uk</a>
      </p>

      <h3 class="govuk-heading-m">All others</h3>
      <p class="govuk-body">
        Disclosure Team<br>
        Post point 10.38<br>
        102 Petty France<br>
        London<br>
        SW1H 9AJ<br><br>
        Email: <a class="govuk-link" target="_blank" href="mailto:data.access@justice.gov.uk">data.access@justice.gov.uk</a>
      </p>
      <p class="govuk-body">If you have any concerns about our use of your personal data, you can contact the MoJ data protection officer.</p>

      <p class="govuk-body">
        Data Protection Officer<br>
        Ministry of Justice<br>
        5th Floor, Post Point 5.18<br>
        102 Petty France<br>
        London<br>
        SW1H 9AJ<br><br>
        Email: <a class="govuk-link" target="_blank" href="mailto:dpo@justice.gov.uk">dpo@justice.gov.uk</a>
      </p>

      <p class="govuk-body">When we ask you for information, we will comply with the law. If you consider that your information has been handled incorrectly, you can contact the Information Commissioner’s Office for independent advice about data protection.</p>
      <p class="govuk-body">
        Information Commissioner’s Office<br>
        Wycliffe House<br>
        Water Lane<br>
        Wilmslow<br>
        Cheshire<br>
        SK9 5AF<br><br>
        Telephone: 0303 123 1113<br>
        ICO website: <a class="govuk-link" href="https://www.ico.org.uk" target="_blank">https://www.ico.org.uk</a>
      </p>

      <h3 class="govuk-heading-m">Changes to this policy</h3>
      <p class="govuk-body">We may change this privacy notice. In that case, the ‘last updated’ date at the bottom of this page will also change. Any changes to this privacy notice will apply to you and your data immediately.</p>

      <h4 class="govuk-heading-s">Date of last update</h4>
      <p class="govuk-body">15 December 2025</p>
    </div>
  </div>
{% endblock %}