{% extends "layout/citizen-authenticated.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<h1 class="govuk-heading-l govuk-!-static-margin-bottom-8">You are logged out from the {{ applicationName }}</h1>
<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    {{ govukButton({
      text: "Back to service Home page",
      href: "/",
      isStartButton: false
    }) }}
  </div>
</div>
{% endblock %}
