{% extends "layout/citizen-authenticated.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper">

      <h1 class="govuk-heading-l">You are logged in to the {{ serviceName }}</h1>

      {{ govukButton({
        text: "Continue to Case selector",
        href: "case/select",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">User information</h2>
      <p class="govuk-body">
        Learn more about <a target="tech-docs" href="https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/authenticate-your-user/#receive-response-for-retrieve-user-information" class="govuk-link">user information</a> in our technical documentation.
      </p>
      <pre><code>{{ user | dump(2) }}</code></pre>

      {% if identitySupported %}
        <h2 class="govuk-heading-m">Return codes</h2>
        <p class="govuk-body">
          Learn more about <a target="tech-docs" href="https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/prove-users-identity/#understand-your-user-s-return-code-claim" class="govuk-link">return codes</a> in our technical documentation.
        </p>

        {% if user.returnCode %}
          <pre>{{ user.returnCode | dump(2) }}</pre>
        {% else %}
          <p class="govuk-body-m">None</p>
        {% endif %}

        <h2 class="govuk-heading-m">Core identity claims</h2>
        <p class="govuk-body">
          Learn more about <a target="tech-docs" href="https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/prove-users-identity/#prove-your-user-39-s-identity" class="govuk-link">core identity claims</a> in our technical documentation.
        </p>
        {% if user.coreIdentity %}
          <pre>{{ user.coreIdentity | dump(2) }}</pre>
          {% else %}
          <p class="govuk-body-m">None</p>
        {% endif %}
      {% endif %}
  </main>
</div>
{% endblock %}
