name: code-formatter

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
  push:
    branches:
      - develop
      - main

jobs:
  format-code:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: ministryofjustice/github-actions/code-formatter@v14
        with:
          ignore-files: "networkpolicy.yaml,servicemonitor.yaml"
